{# src/KG/BeekeepingManagementBundle/Resources/views/Visite/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/visite/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une visite{% endblock %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Création d'une visite</h4>
        </div>
    </div>
{% endblock %}

    
{% block panel_body %}            
    {{ form_start(form, { 'style': 'horizontal' }) }}

        <fieldset>
            <legend>Généralités :</legend>  
            {{ form_row(form.date, {'label': 'Date :'})  }}
            {{ form_row(form.activite, {'label': 'Activité :'}) }}   
            <div class="row">
                <div class="col-md-offset-4 col-md-6">            
            {{ form_row(form.pollen, {'attr': {'data-label-text' : "Pollen entrant", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            {{ form_row(form.reine, {'attr': {'data-label-text' : "Reine vue", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            {{ form_row(form.celroyales, {'attr': {'data-label-text' : "Cellules royales", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                </div></div>
            {{ form_row(form.etat, {'label': 'Etat :'})  }}
            {{ form_row(form.agressivite, {'label': 'Agressivité :'})  }}
            {{ form_row(form.nourrissement, {'label': 'Nourrissement :'})  }}
            {{ form_row(form.traitement, {'label': 'Traitement :'})  }}
            {{ form_row(form.observations, {'label': 'Observations :'})  }}                         
        </fieldset>    

        <fieldset>

            <legend>Corps :</legend>
            {{ form_row(form.nbnourriture, {'label': 'Cadres de nourriture :'})  }}
            {{ form_row(form.nbcouvain, {'label': 'Cadres de couvain :'})  }}

        </fieldset>       

        <fieldset>
            <legend>Hausses :</legend>
            {{ form_row(form.hausses, {'label': 'Cadres plein :'})  }} 
        </fieldset>                    
         
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}     
{% endblock %}