{# src/KG/BeekeepingManagementBundle/Resources/views/Visite/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/visite/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une visite{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Création d'une visite</h4>
        </div>
    </div>
{% endblock %}

{% block form_error %}
    {{ form_errors(form.date) }}    
    {{ form_errors(form.activite) }}
    {{ form_errors(form.pollen) }}    
    {{ form_errors(form.reine) }}
    {{ form_errors(form.celroyales) }}    
    {{ form_errors(form.etat) }}
    {{ form_errors(form.agressivite) }}
    {{ form_errors(form.nourrissement) }}
    {{ form_errors(form.traitement) }}
    {{ form_errors(form.observations) }}
    {{ form_errors(form.nbnourriture) }}
    {{ form_errors(form.nbcouvain) }}
    {{ form_errors(form) }}    
{% endblock %}
    
{% block panel_body %}            
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <fieldset>
            <legend>Généralités :</legend>          
            <div class="form-group">
                {{ form_label(form.date, "Date :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>    

            <div class="form-group">
                {{ form_label(form.activite, "Activité :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.activite, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 col-md-4 control-label" for="checkboxes">Stockage de pollen :</label>
                <div class="col-sm-5 col-md-5">
                  {{ form_widget(form.pollen, {'attr': {'class': 'form-control', 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                </div>
            </div>   
                
            <div class="form-group">
                <label class="col-sm-5 col-md-4 control-label" for="checkboxes">Reine vue :</label>
                <div class="col-sm-5 col-md-5">
                  {{ form_widget(form.reine, {'attr': {'class': 'form-control', 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                </div>
            </div>                          

            <div class="form-group">
                <label class="col-sm-5 col-md-4 control-label" for="checkboxes">Cellules royales :</label>
                <div class="col-sm-5 col-md-5">
                  {{ form_widget(form.celroyales, {'attr': {'class': 'form-control', 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                </div>
            </div> 

            <div class="form-group">
                {{ form_label(form.etat, "Etat :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>                      

            <div class="form-group">
                {{ form_label(form.agressivite, "Agressivité :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.agressivite, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>                          

            <div class="form-group">
                {{ form_label(form.nourrissement, "Nourrissement :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.nourrissement, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>      

            <div class="form-group">
                {{ form_label(form.traitement, "Traitement :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.traitement, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>      

            <div class="form-group">
                {{ form_label(form.observations, "Observations :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.observations, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>                            
        </fieldset>    

        <fieldset>

            <legend>Corps :</legend>
                <div class="form-group">
                    {{ form_label(form.nbnourriture, "Cadres de nourriture :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.nbnourriture, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
 
                <div class="form-group">
                    {{ form_label(form.nbcouvain, "Cadres de couvain :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.nbcouvain, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
        </fieldset>       

        <fieldset>
            <legend>Hausses :</legend>

            {{ form_row(form.hausses) }}
        </fieldset>                    
         
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}     
{% endblock %}