{# src/KG/BeekeepingManagementBundle/Resources/views/Visite/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/visite/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une visite{% endblock %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Création d'une visite</h4>
        </div>
    </div>
{% endblock %}
    
{% block panel_body %}            
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}
        {{ form_row(form.date, {'label': 'Date :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.activite, {'label': 'Activité :', 'label_col': 4, 'widget_col': 5}) }}   
        <div class="row">
            <div class="col-md-offset-4 col-md-6">            
            {{ form_row(form.pollen, {'attr': {'data-label-text' : "Pollen entrant", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            {{ form_row(form.reine, {'attr': {'data-label-text' : "Reine vue", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            {{ form_row(form.celroyales, {'attr': {'data-label-text' : "Cellules royales", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            </div>
        </div>
        {{ form_row(form.etat, {'label': 'Etat :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.agressivite, {'label': 'Agressivité :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.nourrissement, {'label': 'Nourrissement :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.traitement, {'label': 'Traitement :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.observations, {'label': 'Observations :', 'label_col': 4, 'widget_col': 5})  }}                         

        {{ form_row(form.nbnourriture, {'label': 'Cadres de nourriture :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.nbcouvain, {'label': 'Cadres de couvain :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.poids, {'label': 'Poids (kg):', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.hausses, {'label': 'Hausses :', 'label_col': 4, 'widget_col': 8})  }} 
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}     
{% endblock %}