{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/selects/select2.min.js'
        'assets/js/plugins/forms/styling/uniform.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/visite/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block cover %}
    <div class="profile-cover">
        {% if colonie.ruche.rucher.image is not null %}
            <div class="profile-cover-img" style="background-image: url({{ asset(colonie.ruche.rucher.image.webPath) }})"></div>
        {% else %}
            <div class="profile-cover-img" style="background-image: url({{ asset("img/rucher.jpg") }})"></div>
        {% endif %}    
        <div class="media">
            <div class="media-left">
                <a href="#" class="profile-thumb">
                    {% if colonie.ruche.image is not null %}
                        <img src="{{ asset(colonie.ruche.image.webPath) }}" alt="{{ colonie.ruche.image.alt }}" class="img-circle">
                    {% else %}
                        <img src="{{ asset('img/ruche/' ~ colonie.ruche.corps.type.libelle ~'.jpg') }}" alt="Photo par défaut" class="img-circle">
                    {% endif %}                       
                </a>
            </div>

            <div class="media-body">
                <h1>Rucher {{ colonie.ruche.rucher.nom }} <small class="display-block">Ruche {{ colonie.ruche.nom }}</small></h1>
            </div>                    
        </div>
    </div>
{% endblock %}

{% macro widget_prototype(hausse, remove_text) %}
    <div class="form-group">
        <div class="col-lg-3">
        </div>    
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    {{ form_widget(hausse.nbcadres, { 'attr': {'placeholder': 'Nombre de cadres'} }) }}
                    {{ form_errors(hausse.nbcadres) }}
                </div>

                <div class="col-md-6">
                    {{ form_widget(hausse.nbplein, { 'attr': {'placeholder': 'Nombre de cadres plein'} }) }}
                    {{ form_errors(hausse.nbplein) }}
                </div>
            </div>
        </div>
    </div>
    <!--{#<div data-content="{{ name }}">
        <a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a>
        {{ form_widget(form) }}
    </div>#}-->
{% endmacro %}

{% block body %} 
    <!-- 2 columns form -->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Création d'une visite</h5>
                    </div>

                    <div class="panel-body"> 
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    {{ form_label(form.date, 'Date :*', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                    <div class="col-lg-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {{ form_widget(form.date) }}
                                            {{ form_errors(form.date) }}
                                        </div>
                                    </div>
                                </div>
                                        
                                {% if form.taches is not empty %}
                                    <fieldset>
                                        <legend class="text-semibold"><i class="fa fa-users position-left"></i> Tâches réalisées</legend>
                                        {% for tache in form.taches %}
                                            {% set index = tache.vars.value %}
                                            {% set entity = form.taches.vars.choices[index].data %}
                                            <div class="form-group">
                                                {{ form_label(tache, entity.resume, {'label_attr': {'class': 'col-lg-4'}} ) }}
                                                {# Si la visite est renseignée alors on coche la checkbox. Attention, la liste des tâches comprend les tâches sans visite ou avec la visite courrante #}
                                                {% if entity.visite %}
                                                    {{ form_widget(tache, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled', 'checked': true}}) }}
                                                {% else %}
                                                    {{ form_widget(tache, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled'}}) }}                            
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                    </fieldset> 
                                {% endif %} 
                                
                                <fieldset>
                                    <legend class="text-semibold"><i class="fa fa-archive position-left"></i> Informations relevées</legend>

                                    <div class="form-group">
                                        {{ form_label(form.activite, 'Activité :*', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.activite) }}
                                            {{ form_errors(form.activite) }}
                                        </div>
                                    </div>  

                                    <div class="form-group">
                                        {{ form_label(form.pollen, 'Pollen entrant :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                        {{ form_widget(form.pollen, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled'}}) }}        
                                        {{ form_errors(form.pollen) }}
                                    </div> 

                                    <div class="form-group">
                                        {{ form_label(form.reine, 'Reine vue :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                        {{ form_widget(form.reine, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled'}}) }}        
                                        {{ form_errors(form.reine) }}
                                    </div> 

                                    <div class="form-group">
                                        {{ form_label(form.celroyales, 'Cellules royales :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                        {{ form_widget(form.celroyales, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled'}}) }}        
                                        {{ form_errors(form.celroyales) }}
                                    </div>                                                             

                                    <div class="form-group">
                                        {{ form_label(form.etat, 'Etat :*', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.etat) }}
                                            {{ form_errors(form.etat) }}
                                        </div>
                                    </div>  

                                    <div class="form-group">
                                        {{ form_label(form.agressivite, 'Agressivité :*', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.agressivite) }}
                                            {{ form_errors(form.agressivite) }}
                                        </div>
                                    </div>  

                                    <div class="form-group">
                                        {{ form_label(form.nourrissement, 'Nourrissement :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.nourrissement) }}
                                            {{ form_errors(form.nourrissement) }}
                                        </div>
                                    </div> 

                                    <div class="form-group">
                                        {{ form_label(form.traitement, 'Traitement :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.traitement) }}
                                            {{ form_errors(form.traitement) }}
                                        </div>
                                    </div>                                 

                                    <div class="form-group">
                                        {{ form_label(form.observations, 'Observations :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.observations) }}
                                            {{ form_errors(form.observations) }}
                                        </div>
                                    </div>                       

                                    <div class="form-group">
                                        {{ form_label(form.nbnourriture, 'Cadres de nourriture :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.nbnourriture) }}
                                            {{ form_errors(form.nbnourriture) }}
                                        </div>
                                    </div>                                                      
                                                    
                                    <div class="form-group">
                                        {{ form_label(form.nbcouvain, 'Cadres de couvain :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.nbcouvain) }}
                                            {{ form_errors(form.nbcouvain) }}
                                        </div>
                                    </div>                                          
                                        
                                    <div class="form-group">
                                        {{ form_label(form.poids, 'Poids (kg) :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        <div class="col-lg-9">
                                            {{ form_widget(form.poids) }}
                                            {{ form_errors(form.poids) }}
                                        </div>
                                    </div>         
                                        
                                    <div id="post_tags" data-prototype="{{ _self.widget_prototype(form.hausses.vars.prototype, 'Remove tag')|e }}">
                                        <div class="form-group">
                                            {{ form_label(form.hausses, 'Hausses :', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                        {% for hausse in form.hausses %}
                                            {{ _self.widget_prototype(hausse, 'Remove tag') }}
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <a class="btn-add" data-target="post_tags">Add tag</a>
                                    
                                </fieldset>   
                            </div>
                        </div>

                        {{ form_rest(form) }}

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    <!-- /2 columns form -->          
{% endblock %}