{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/selects/select2.min.js'
        'assets/js/plugins/forms/styling/uniform.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/visite/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : colonie.ruche} only %}
{% endblock %}

{% macro widget_prototype(widget) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div data-content="{{ name }}">
        <div class="form-group">
            <div class="col-md-12">
                <div class="row">
                    {{ form_label(form.nbcadres, 'Cadres total :*', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-2">
                        {{ form_widget(form.nbcadres) }}
                        {{ form_errors(form.nbcadres) }}
                    </div>

                    {{ form_label(form.nbplein, 'Cadres pleins :*', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-2">
                        {{ form_widget(form.nbplein) }}
                        {{ form_errors(form.nbplein) }}
                    </div>
                    
                    <div class="col-md-2">
                        <div class="pull-right"><a type="button" data-related="{{ name }}" class="btn btn-default btn-remove"><i class="fa fa-trash"></i></a></div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endmacro %}

{% block body %} 
    <!-- 2 columns form -->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{ title }} d'une visite</h5>
            </div>

            <div class="panel-body"> 
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.date, 'Date :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {{ form_widget(form.date) }}
                                </div>
                                {{ form_errors(form.date) }}
                            </div>
                        </div>                        
                    </div>    
                </div>
                    
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-stethoscope position-left"></i> Etat général</legend>                                                    
                            <div class="form-group">
                                {{ form_label(form.activite, 'Activité :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.activite) }}
                                    {{ form_errors(form.activite) }}
                                </div>
                            </div>  
                                
                            <div class="form-group">
                                {{ form_label(form.etat, 'Etat :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.etat) }}
                                    {{ form_errors(form.etat) }}
                                </div>
                            </div>  

                            <div class="form-group">
                                {{ form_label(form.agressivite, 'Agressivité :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.agressivite) }}
                                    {{ form_errors(form.agressivite) }}
                                </div>
                            </div>                     

                            <div class="form-group pt-15">
                                <div class="col-lg-4">                 
                                    {{ form_widget(form.pollen, {'attr': {'class': 'checkbox styled'}}) }} 
                                    {{ form_label(form.pollen, 'Pollen entrant') }}
                                    {{ form_errors(form.pollen) }}
                                </div>

                                <div class="col-lg-4">
                                    {{ form_widget(form.reine, {'attr': {'class': 'checkbox checkbox-right styled'}}) }}        
                                    {{ form_label(form.reine, 'Reine vue') }}
                                    {{ form_errors(form.reine) }}
                                </div>
                                
                                <div class="col-lg-4">
                                    {{ form_widget(form.celroyales, {'attr': {'class': 'checkbox checkbox-right styled'}}) }}        
                                    {{ form_label(form.celroyales, 'Cellules royales') }}
                                    {{ form_errors(form.celroyales) }}
                                </div>
                            </div>    
                                
                            <div class="form-group">
                                {{ form_label(form.nbnourriture, 'Cadres de nourriture :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.nbnourriture) }}
                                    {{ form_errors(form.nbnourriture) }}
                                </div>
                            </div>                                                      

                            <div class="form-group">
                                {{ form_label(form.nbcouvain, 'Cadres de couvain :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.nbcouvain) }}
                                    {{ form_errors(form.nbcouvain) }}
                                </div>
                            </div>                                          

                            <div class="form-group">
                                {{ form_label(form.poids, 'Poids (kg) :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.poids) }}
                                    {{ form_errors(form.poids) }}
                                </div>
                            </div>  
                        </fieldset>        
                    </div>   
                                
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-info position-left"></i> Informations complémentaires</legend>   
                            <div class="form-group">
                                {{ form_label(form.nourrissement, 'Nourrissement :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.nourrissement) }}
                                    {{ form_errors(form.nourrissement) }}
                                </div>
                            </div> 

                            <div class="form-group">
                                {{ form_label(form.traitement, 'Traitement :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.traitement) }}
                                    {{ form_errors(form.traitement) }}
                                </div>
                            </div>                                 

                            <div class="form-group">
                                {{ form_label(form.observations, 'Observations :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.observations) }}
                                    {{ form_errors(form.observations) }}
                                </div>
                            </div>                                
                        </fieldset>                        
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-tasks position-left"></i> Tâches réalisées</legend>                            
                            {% if form.taches is empty %}
                                <center>Aucune</center>
                            {% else %}    
                                {% for tache in form.taches %}
                                    {% set index = tache.vars.value %}
                                    {% set entity = form.taches.vars.choices[index].data %}
                                    <div class="form-group">
                                        {{ form_label(tache, entity.resume, {'label_attr': {'class': 'col-lg-4'}} ) }}
                                        {# Si la visite est renseignée alors on coche la checkbox. Attention, la liste des tâches comprend les tâches sans visite ou avec la visite courrante #}
                                        {% if entity.visite %}
                                            {{ form_widget(tache, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled', 'checked': true}}) }}
                                        {% else %}
                                            {{ form_widget(tache, {'attr': {'class': 'col-lg-8 checkbox checkbox-right styled'}}) }}                            
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </fieldset>                              
                    </div>
                </div>
                            
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-download position-left"></i> Hausses</legend>    
                            <div id="post_hausses" data-prototype="{{ _self.widget_prototype(form.hausses)|escape }}">
                                {% for widget in form.hausses.children %}
                                    {{ _self.widget_prototype(widget) }}
                                {% endfor %}
                            </div>

                            <div class=form-group">
                                <div class="col-lg-12">
                                    <center><a type="button" data-target="post_hausses" class="btn btn-default btn-add">Ajouter une hausse</a></center>
                                </div>
                            </div>                                 
                        </fieldset>                            
                    </div>      
                </div>

                {{ form_rest(form) }}

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    <!-- /2 columns form -->          
{% endblock %}