{# src/KG/BeekeepingManagementBundle/Resources/views/Visite/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Visite{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': visite.colonnie.exploitation.id }) }}" class="btn btn-primary">{{ visite.colonnie.exploitation.nom }}</a>
    <a href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': visite.colonnie.ruche.emplacement.rucher.id }) }}" class="btn btn-primary">{{ visite.colonnie.ruche.emplacement.rucher.nom }}</a>
    <a href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': visite.colonnie.ruche.id }) }}" class="btn btn-primary">{{ visite.colonnie.ruche.nom }}</a>
    {#<a href="{{ path('kg_beekeeping_management_view_visite', { 'visite_id': visite.id }) }}" class="btn btn-info">{{ visite.date }}</a>#}
{% endblock %} 

{% block screen %}  
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('danger') %}
        {% if loop.first %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-remove-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}    

    <div class="panel panel-default">
        <div class="panel-body">
            {{ visite.activite.libelle }}
            {{ visite.reine }}
            {{ visite.essaimage }}
            {{ visite.etat.libelle }}
            {{ visite.agressivite.libelle }}
            {{ visite.nourrissement }}
            {{ visite.traitement }}
            {{ visite.miel }}
            {{ visite.propolis }}
            {{ visite.pollen }}
            {{ visite.gelee }}
            {{ visite.observations }}
        </div>
    </div>
{% endblock %}