{# src/KG/BeekeepingManagementBundle/Resources/views/Visite/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Visite{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            <h4></h4>
        </div>
        <div class="col-xs-6">{#
            <span class="pull-right">
                <a title="Créer un emplacement" href="{{ path('kg_beekeeping_management_add_emplacement', { 'rucher_id' : rucher.id }) }}" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i><strong> Créer un emplacement</strong></a>
                <a title="Modifier" href="{{ path('kg_beekeeping_management_update_rucher', { 'rucher_id' : rucher.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i><strong> Modifier</strong></a>
            </span>
        #}</div>
    </div>    
{% endblock %}


{% block panel_body %}    
            {{ visite.activite.libelle }}
            {{ visite.reine }}
            {{ visite.essaimage }}
            {{ visite.etat.libelle }}
            {{ visite.agressivite.libelle }}
            {{ visite.nourrissement }}
            {{ visite.traitement }}
            {{ visite.miel }}
            {{ visite.propolis }}
            {{ visite.pollen }}
            {{ visite.gelee }}
            {{ visite.observations }}
{% endblock %}