{# src/KG/BeekeepingManagementBundle/Resources/views/Visite/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Visite{% endblock %}

{% block screen %}  
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('danger') %}
        {% if loop.first %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-remove-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}    

    <div class="panel panel-default">
        <div class="panel-body">
            {{ visite.activite.libelle }}
            {{ visite.reine }}
            {{ visite.essaimage }}
            {{ visite.etat.libelle }}
            {{ visite.agressivite.libelle }}
            {{ visite.nourrissement }}
            {{ visite.traitement }}
            {{ visite.miel }}
            {{ visite.propolis }}
            {{ visite.pollen }}
            {{ visite.gelee }}
            {{ visite.observations }}
        </div>
    </div>
{% endblock %}