{# src/KG/SiteBundle/Resources/views/Accueil/contact.html.twig #}

{% extends "KGSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite, ?uglifycss'
            'assets/css/icons/icomoon/styles.css'
            'assets/css/icons/fontawesome/styles.min.css'
            'assets/css/bootstrap.css'
            'assets/css/core.css'
            'assets/css/components.css'
            'assets/css/colors.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?uglifyjs2'
            'assets/js/plugins/loaders/pace.min.js' 
            'assets/js/core/libraries/jquery.min.js'
            'assets/js/core/libraries/bootstrap.min.js'
            'assets/js/plugins/loaders/blockui.min.js'
            'assets/js/plugins/ui/nicescroll.min.js'
            'assets/js/pages/layout_fixed_custom.js'
            'assets/js/core/app.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>          		
    {% endjavascripts %}
    {{ parent() }}
{% endblock %} 

{% block mainnavbar %}
    {% include 'KGSiteBundle::mainnavbar.html.twig' %}
{% endblock %}

{% block sitetitle %}{{ parent() }} - {{ status_text }}{% endblock %}

{% block pagecontainer %}
    <div class="page-container login-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <!-- Simple panel -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">Bzzzz! Une erreur vient de se produire</h2>
                                        </div>

                                        <div class="panel-body">              
                                           <h2>{{ icon('exclamation-triangle ') }} Le serveur est en cours de maintenance. Désolé pour le désagrément!</h2>
                                        </div>
                                    </div>
                                    <!-- /simple panel -->
                                </div>
                            </div>                                        
                        </div>
                    </div>
                                            
                    <!-- Footer -->
                    <div class="footer text-muted">
                        {% include 'KGSiteBundle::footer.html.twig' %} 
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>   
{% endblock %}