{# src/KG/BeekeepingManagementBundle/Resources/views/Reine/remeragenaturel.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/reine/remerage.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block title %}{{ parent() }} - Remérage naturel{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Remérage naturel de la ruche {{ colonie.ruche.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}         
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}
        {{ form_row(form.anneeReine, {'label': 'Date :', 'label_col': 4, 'widget_col': 5})  }}
        <div class="row">
            <div class="col-md-offset-4 col-md-6">            
                {{ form_row(form.marquage, {'attr': {'data-label-text' : "Marquage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                {{ form_row(form.clippage, {'attr': {'data-label-text' : "Clippage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            </div>
        </div>           
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}