{# src/KG/BeekeepingManagementBundle/Resources/views/Reine/renouveler.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/reine/renouveler.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block title %}{{ parent() }} - Créer une colonie{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Renouvelement de la Reine de la colonie {{ colonie.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block form_error %}
    {{ form_errors(form) }}
{% endblock %}

{% block panel_body %}         
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}          

    <div class="form-group">
      <label class="col-sm-5 col-md-4 control-label" for="checkboxes">Marquage :</label>
      <div class="col-sm-5 col-md-5">
          {{ form_widget(form.marquage, {'attr': {'class': 'form-control', 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
      </div>
    </div>    

    <div class="form-group">
      <label class="col-sm-5 col-md-4 control-label" for="checkboxes">Clippage :</label>
      <div class="col-sm-5 col-md-5">
          {{ form_widget(form.clippage, {'attr': {'class': 'form-control', 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
      </div>
    </div>

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}