{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form "KGUserBundle::form_layout.html.twig" %}

{% block form_error %}   
    {{ form_errors(form.username) }}
    {{ form_errors(form.email) }}
    {{ form_errors(form.plainPassword.first) }}    
    {{ form_errors(form.plainPassword.second) }}
    {{ form_errors(form) }}  
{% endblock %}

{% block fos_user_content %}

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel registration-form">
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                            <h5 class="content-group-lg">Création de votre compte <small class="display-block">Tous les champs sont requis</small></h5>
                        </div>
                                
                        <div class="form-group has-feedback">
                            <div class="input-group"> 
                                {{ form_widget(form.username, {'attr': {'class': 'form-control' , 'placeholder': 'form.username'|trans , 'tabindex' : '1' } }) }}
                                <span class="input-group-addon"><i class="icon-user-plus text-muted"></i></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <div class="input-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control' , 'placeholder': 'form.email'|trans , 'tabindex' : '2' } }) }} 
                                <span class="input-group-addon"><i class="icon-mention text-muted"></i></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group">
                                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' , 'placeholder': 'form.password'|trans , 'tabindex' : '3' } }) }}
                                        <span class="input-group-addon"><i class="icon-user-lock text-muted"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group">
                                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder': 'form.password_confirmation'|trans , 'tabindex' : '4' } }) }}
                                        <span class="input-group-addon"><i class="icon-user-lock text-muted"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input name="accept_cgu" type="checkbox" class="styled">
                                    J'accepte les <a href="{{ path('kg_site_cgu') }}">conditions générales d'utilisation</a>
                                </label>
                            </div>
                        </div>

                        <div class="text-right" id="bouton_submit">
                            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b> {{ 'registration.submit'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}                                                     
{% endblock fos_user_content %}

