{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/styling/uniform.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/tache/duplicate.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>       
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : tache.colonie.ruche} only %} 
{% endblock %} 

{% block body %}  
    
    <!-- Centered forms -->
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Choix des ruches où la tâche sera dupliquée</h5>
                            </div>
                                
                            <div class="panel-body">
                                
                                {% for ruche in form.ruches %}
                                    {% set index = ruche.vars.value %}
                                    {% set entity = form.ruches.vars.choices[index].data %}
                                    <div class="form-group">
                                        {{ form_label(ruche, entity.nom, {'label_attr': {'class': 'col-lg-9'}} ) }}
                                        {{ form_widget(ruche, {'attr': {'class': 'col-lg-3 checkbox checkbox-right styled'}}) }}  
                                        {{ form_errors(ruche) }}
                                    </div>
                                {% endfor %}

                                {{ form_rest(form) }}
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Dupliquer <i class="icon-arrow-right14 position-right"></i></button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- /form centered -->
{% endblock %}
