{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>   
    
<a href="{{ path('kg_advert_delete_user') }}" class="btn btn-xs btn-danger pull-right">{{ icon('trash-o') }} Supprimer mon compte</a>    