{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block titre %}Rucher {{ rucher.nom }}{% endblock %}             

{% block breadcrumb %} 
    <li><a href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">{{ rucher.nom}}</a></li>
    <li class="active">Créer un emplacement</li>
{% endblock %} 

{% block breadcrumb_element %}{% endblock %} 
    
{% block body %}

    <!-- Centered forms -->
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Création d'un emplacement</h5>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_label(form.numero, "Numéro de l'emplacement :*", { 'label_attr': {'class': 'col-lg-3'} }) }}
                                    <div class="col-lg-9">
                                        {{ form_widget(form.numero) }}
                                        {{ form_errors(form.numero) }}
                                    </div>
                                </div>                             
                                {{ form_rest(form) }}
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-right"></i></button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- /form centered -->
{% endblock %}