{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Créer un emplacement{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block ruchers %}{{ rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Création d'un emplacement</h4>
        </div>
    </div>
{% endblock %}

{% block form_error %}
    {{ form_errors(form.nom) }}
    {{ form_errors(form.soleil) }}
    {{ form_errors(form.orientation) }}   
{% endblock %}
    
{% block panel_body %}
                  
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="form-group">
        {{ form_label(form.nom, "Nom de l'emplacement :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
        <div class="col-sm-5 col-md-5">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.soleil, "Taux d'exposition au soleil :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
        <div class="col-sm-5 col-md-5">
            {{ form_widget(form.soleil, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>    

    <div class="form-group">
        {{ form_label(form.orientation, "Orientation :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
        <div class="col-sm-5 col-md-5">
            {{ form_widget(form.orientation, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>  

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}