{# src/KG/BeekeepingManagementBundle/Resources/views/Emplacement/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Emplacement{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': emplacement.rucher.exploitation.id }) }}" class="btn btn-primary">{{ emplacement.rucher.exploitation.nom }}</a>
    <a href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': emplacement.rucher.id }) }}" class="btn btn-primary">{{ emplacement.rucher.nom }}</a>
    <a href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': emplacement.id }) }}" class="btn btn-primary">{{ emplacement.nom }}</a>
{% endblock %} 

{% block screen %}  
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Emplacement {{ emplacement.nom }}</h3>
        </div>          
        <div class="panel-body">
            <div class="row">

            </div>         
        </div>            
        <div class="panel-footer">
            <a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_emplacement', { 'emplacement_id' : emplacement.id }) }}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
            <span class="pull-right">
                <a title="Editer" href="{{ path('kg_beekeeping_management_update_emplacement', { 'emplacement_id' : emplacement.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
            </span>
        </div>                                                        
    </div>
{% endblock %}