{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Emplacements du rucher{% endblock %}

{% block menu %}
    {% include 'KGBeekeepingManagementBundle::menuRucher.html.twig' %}
{% endblock menu %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Liste des emplacements</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %} 
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Nom</th>
                        <th>Ruche</th>
                        <th>Type</th>
                        <th>Race</th>
                        <th>Hausses</th>
                    </thead>
                    <tbody>
                        {% for emplacement in pagination %}
                            <tr>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': emplacement.id }) }}">{{ emplacement.nom }}</a></td>
                                {% if emplacement.ruche %}
                                    <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ emplacement.ruche.nom }}</a></td>
                                    <td>{{ emplacement.ruche.corps.type.libelle }} {{ emplacement.ruche.corps.nbcadres }}</td>
                                    {% if emplacement.ruche.colonie %}
                                        <td>{{ emplacement.ruche.colonie.remerages|last.reine.race.libelle }}</td>
                                    {% endif %}
                                    <td>{{ emplacement.ruche.hausses|length }}</td>
                                {% else %}
                                    <td colspan="4">
                                        <a title="Créer une colonie" href="{{ path('kg_beekeeping_management_add_ruche', { 'emplacement_id': emplacement.id }) }}" class="btn btn-info btn-xs">{{ icon('plus') }} Créer une colonie</a>                                                
                                    </td> 
                                {% endif %}                                     
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div> 
            </div>                            
        </div>
    </div>                                    
{% endblock %}