{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Emplacement{% endblock %}

{% block ruchers %}{{ emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            <h4>Emplacement {{ emplacement.nom }}</h4>
        </div>
        <div class="col-xs-6">
            <span class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Menu
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a title="Modifier l'emplacement" href="{{ path('kg_beekeeping_management_update_emplacement', { 'emplacement_id' : emplacement.id }) }}">{{ icon('pencil') }} Modifier l'emplacement</a></li>
                        {% if emplacement.transhumancesto is empty and emplacement.transhumancesfrom is empty and not emplacement.ruche %}
                            <li role="separator" class="divider"></li>                
                            <li><a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_emplacement', { 'emplacement_id' : emplacement.id }) }}">{{ icon('trash') }} Supprimer</a></li>                                   
                        {% endif %}
                    </ul>
                </div> 
            </span>
        </div>
    </div>    
{% endblock %}


{% block panel_body %}  
<div class="row">
    <div class="col-md-12">
        <table class="table">    
            <tbody>
                <tr>
                    <td><strong>Nom</strong></td>
                    <td>{{ emplacement.nom }}</td>
                </tr>
                <tr>
                    <td><strong>Taux d'exposition au soleil</strong></td>
                    <td>{{ emplacement.soleil }}</td>
                </tr>
                <tr>
                    <td><strong>Orientation</strong></td>
                    <td>{{ emplacement.orientation.libelle }}</td>
                </tr>
            </tbody>
      </table>
    </div>
</div>
{% endblock %}