{# src/KG/BeekeepingManagementBundle/Resources/views/Emplacement/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Emplacement{% endblock %}

{% block ruchers %}{{ emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            <h4>Emplacement {{ emplacement.nom }}</h4>
        </div>
        <div class="col-xs-6">
            <span class="pull-right">
                <a title="Modifier" href="{{ path('kg_beekeeping_management_update_emplacement', { 'emplacement_id' : emplacement.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i><strong> Modifier</strong></a>
            </span>
        </div>
    </div>    
{% endblock %}


{% block panel_body %}  
    <div class="row">
        <a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_emplacement', { 'emplacement_id' : emplacement.id }) }}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a>                                            
    </div>
{% endblock %}