{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/map/edit_map.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/ol/ol.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/map/edit_map.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Créer un rucher{% endblock %}

{% block rucher %}class="active"{% endblock %}

{% form_theme form _self %}

{% block body %}
    <strong>Rucher</strong>  
    <hr>
    
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="panel-title">Création d'un nouveau rucher</h3>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                
                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label" for="kg_beekeepingmanagementbundle_rucher_nom">Nom du rucher :</label>
                  <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.nom) }}
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label">Photo :</label>
                    <div class="col-sm-2 col-md-2">
                        {{ form_widget(form.image) }}
                    </div>
                </div>

                {{ form_widget(form.localisation.latitude) }}
                {{ form_widget(form.localisation.longitude) }}

                <div class="col-md-offset-2 col-md-8">
                    <h4><center>Localisez le rucher sur la carte</center></h4>            
                    <div id="map" 
                         class="map thumbnail" 
                         data-latitude="kg_beekeepingmanagementbundle_rucher_localisation_latitude"
                         data-longitude="kg_beekeepingmanagementbundle_rucher_localisation_longitude">
                    </div>
                </div>    

                {{ form_rest(form) }}

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="pull-right">
                            <a href="{{ path('kg_beekeeping_management_home_rucher') }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                                Annuler
                            </a>

                            <button type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>        
                </div>
                
                {{ form_end(form) }}
                
            </div>
        </div>       
    </div>

{% endblock %}