{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss'
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/map/edit_map.css'
        'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'js/ol/ol.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/map/edit_map.js'
        'js/bootstrap_switch/bootstrap-switch.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/rucher/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Créer un rucher{% endblock %}             

{% block header %}
    {{ icon('plus') }} Créer un rucher
{% endblock %}
    
{% block contain_body %}
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}
    <fieldset>
        <legend>Propriétaire du terrain</legend>
        {{ form_row(form.proprietaire.nom, {'label': 'Nom :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.prenom, {'label': 'Prénom :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.telephone, {'label': 'Téléphone 1 :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.telephone2, {'label': 'Téléphone 2 :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.adresse, {'label': 'Adresse :', 'label_col': 4, 'widget_col': 5})  }} 
    </fieldset>   
    
    <fieldset> 
        <legend>Rucher</legend>     
        {{ form_row(form.nom, {'label': 'Nom :', 'label_col': 4, 'widget_col': 5})  }}
        <div class="row">
            <div class="col-md-offset-4 col-md-6">   
                {{ form_row(form.numerotation, {'attr': {'data-label-text' : "Emplacements numérotés ?", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}        
            </div>
        </div>          
        {{ form_row(form.image.file, {'label': 'Photo :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.localisation.latitude) }}
        {{ form_row(form.localisation.longitude) }}

        <div class="col-md-offset-2 col-md-8">
            <h4><center>Localisez le rucher sur la carte</center></h4>     
            {{ form_errors(form) }}
            <div id="map" 
                 class="map thumbnail" 
                 data-latitude="kg_beekeepingmanagementbundle_rucher_localisation_latitude"
                 data-longitude="kg_beekeepingmanagementbundle_rucher_localisation_longitude"
                 data-picker="<img src='{{ asset('location.png') }}'>">
            </div>
        </div>    
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-o') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}    
{% endblock %}