{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/map/edit_map.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/ol/ol.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/map/edit_map.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Créer un rucher{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': exploitation.id }) }}">{{ exploitation.nom }}</a></li>
{% endblock %} 

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block screen %}
    {{ form_errors(form.nom) }}
    {{ form_errors(form.image.file) }}
    {{ form_errors(form) }}
             
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="panel-title">Création d'un rucher</h3>
                </div>
            </div>
        </div>

        <div class="panel-body">                
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.nom, "Nom du rucher :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    
            </div>
            
            <div class="row">        
                <div class="form-group">
                    {{ form_label(form.image.file, "Photo :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-2 col-md-2">
                        {{ form_widget(form.image.file) }}
                    </div>
                </div>
            </div>
            
            <div class="row">        
                {{ form_widget(form.localisation.latitude) }}
                {{ form_widget(form.localisation.longitude) }}

                <div class="col-md-offset-2 col-md-8">
                    <h4><center>Localisez le rucher sur la carte</center></h4>            
                    <div id="map" 
                         class="map thumbnail" 
                         data-latitude="kg_beekeepingmanagementbundle_rucher_localisation_latitude"
                         data-longitude="kg_beekeepingmanagementbundle_rucher_localisation_longitude">
                    </div>
                </div>    
            </div>
            
            <div class="row">    
                {{ form_rest(form) }}

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="pull-right">
                            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                                Annuler
                            </a>

                            <button type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>        
                </div>
            </div>
                                
            {{ form_end(form) }}         
        </div>       
    </div>

{% endblock %}