{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un rucher{% endblock %}

{% block body %}
    <strong>Ajouter un rucher</strong>  
    <hr>
    
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="form-group">
                {{ form_label(form.nom, "Nom du rucher :", {'label_attr': {'class': 'col-sm-4 col-md-4 control-label'}}) }}
              <div class="col-sm-5 col-md-5">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
                {{ form_label(form.image, "Photo :", {'label_attr': {'class': 'control-label col-sm-4 col-md-4'}}) }}
              <div class="col-sm-2 col-md-2">
                    {{ form_widget(form.image) }}

              </div>
            </div>

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfonyy !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>

{% endblock %}