{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/map/edit_map.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/ol/ol.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/map/edit_map.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Modifier un rucher{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block ruchers %}{{ rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Modification du rucher {{ rucher.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block form_error %}
    {{ form_errors(form.nom) }}
    {{ form_errors(form.image.file) }}
    {{ form_errors(form) }}    
{% endblock %}

{% block panel_body %}
              
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <fieldset>
        <legend>Propriétaire du terrain</legend>
        <div class="form-group">
            {{ form_label(form.proprietaire.nom, "Nom :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
            <div class="col-sm-5 col-md-5">
                {{ form_widget(form.proprietaire.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>  
            
        <div class="form-group">
            {{ form_label(form.proprietaire.prenom, "Prénom :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
            <div class="col-sm-5 col-md-5">
                {{ form_widget(form.proprietaire.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>      

        <div class="form-group">
            {{ form_label(form.proprietaire.telephone, "Téléphone :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
            <div class="col-sm-5 col-md-5">
                {{ form_widget(form.proprietaire.telephone, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>  
            
        <div class="form-group">
            {{ form_label(form.proprietaire.adresse, "Adresse :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
            <div class="col-sm-5 col-md-5">
                {{ form_widget(form.proprietaire.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>             
    </fieldset>   
    
    <fieldset> 
        <legend>Rucher</legend>     
        <div class="form-group">
            {{ form_label(form.nom, "Nom du rucher :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
            <div class="col-sm-5 col-md-5">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>    

        <div class="form-group">
            {{ form_label(form.image.file, "Photo :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
            <div class="col-sm-2 col-md-2">
                {{ form_widget(form.image.file) }}
            </div>
        </div>

        {{ form_widget(form.localisation.latitude) }}
        {{ form_widget(form.localisation.longitude) }}

        <div class="col-md-offset-2 col-md-8">
            <h4><center>Localisez le rucher sur la carte</center></h4>            
            <div id="map" 
                 class="map thumbnail" 
                 data-latitude="kg_beekeepingmanagementbundle_rucher_localisation_latitude"
                 data-longitude="kg_beekeepingmanagementbundle_rucher_localisation_longitude">
            </div>
        </div>    
    </fieldset>   

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <div class="pull-right">
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                    Annuler
                </a>

                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Sauvegarder
                </button>
            </div>
        </div>        
    </div>

    {{ form_end(form) }}         
{% endblock %}