{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/map/edit_map.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/ol/ol.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/map/edit_map.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Modifier un rucher{% endblock %}

{% block ruchers %}{{ rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Modification du rucher {{ rucher.nom }}</h4>
        </div>
    </div>
{% endblock %}

    
{% block panel_body %}
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}
    <fieldset>
        <legend>Propriétaire du terrain</legend>
        {{ form_row(form.proprietaire.nom, {'label': 'Nom :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.prenom, {'label': 'Prénom :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.telephone, {'label': 'Téléphone :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.proprietaire.adresse, {'label': 'Adresse :', 'label_col': 4, 'widget_col': 5})  }}        
    </fieldset>   
    
    <fieldset> 
        <legend>Rucher</legend>     
        {{ form_row(form.nom, {'label': 'Nom :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.image.file, {'label': 'Photo :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.localisation.latitude) }}
        {{ form_row(form.localisation.longitude) }}

        <div class="col-md-offset-2 col-md-8">
            <h4><center>Localisez le rucher sur la carte</center></h4>     
            {{ form_errors(form) }}
            <div id="map" 
                 class="map thumbnail" 
                 data-latitude="kg_beekeepingmanagementbundle_rucher_localisation_latitude"
                 data-longitude="kg_beekeepingmanagementbundle_rucher_localisation_longitude">
            </div>
        </div>    
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         
{% endblock %}