{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/weather/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/weather/*'
                   'js/ol/ol.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Rucher{% endblock %}

{% block ruchers %}{{ rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            <h4>Rucher {{ rucher.nom }}</h4>
        </div>
        
        {% set rucheExist = false %}
        {% set transhumanceExist = false %}
        {% for emplacement in rucher.emplacements %}
            {% for transhumance in emplacement.transhumancesfrom if not transhumanceExist %}
                {% set transhumanceExist = true %}
            {% endfor %}
            {% for transhumance in emplacement.transhumancesto if not transhumanceExist %}
                {% set transhumanceExist = true %}
            {% endfor %}
            {% if emplacement.ruche %}
                {% set rucheExist = true %}
            {% endif %}    
        {% endfor %}
                    
        <div class="col-xs-6">
            <span class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Menu
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    <li><a title="Modifier le rucher" href="{{ path('kg_beekeeping_management_update_rucher', { 'rucher_id' : rucher.id }) }}">{{ icon('pencil') }} Modifier le rucher</a></li>
                    <li><a title="Créer un emplacement" href="{{ path('kg_beekeeping_management_add_emplacement', { 'rucher_id' : rucher.id }) }}">{{ icon('plus') }} Créer un emplacement</a></li>                          
                    {% if not rucheExist and not transhumanceExist %}
                        <li role="separator" class="divider"></li>                
                        <li><a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_rucher', { 'rucher_id' : rucher.id }) }}">{{ icon('trash') }} Supprimer</a></li>                                   
                    {% endif %}
                </ul>
            </div>
            </span>
        </div>
    </div>    
{% endblock %}


{% block panel_body %}     
    <div class="row">
        <div class=" col-md-12">
            <div class="row">
                <div class="col-sm-3" align="center"> 
                    {% if rucher.image is not null %}
                        <img src="{{ asset(rucher.image.webPath) }}" alt="{{ rucher.image.alt }}" class="img-thumbnail img-responsive">
                    {% else %}
                        <img src="{{ asset("img/rucher.jpg") }}" alt="Photo par défaut" class="img-thumbnail img-responsive">
                    {% endif %}           
                </div>
                <div class="col-sm-4">
                    <h4>Propriétaire du terrain</h4>
                    <table class="table">  
                        <tbody>                                 
                            <tr>
                                <td><strong>Nom</strong></td>
                                <td>{{ rucher.proprietaire.nom|capitalize }}</td>
                            </tr>
                            <tr>
                                <td><strong>Prénom</strong></td>
                                <td>{{ rucher.proprietaire.prenom|capitalize }}</td>
                            </tr>
                            <tr>
                                <td><strong>Adresse</strong></td>
                                <td>{{ rucher.proprietaire.adresse }}</td>
                            </tr>
                            <tr>
                                <td><strong>Téléphone</strong></td>
                                <td>{{ rucher.proprietaire.telephone }}</td>
                            </tr>                              
                        </tbody>
                    </table>            
                </div>  
                <div class="col-sm-5">
                    <h4>Prévisions météo</h4>
                    <div id="weather"
                         data-latitude="{{ rucher.localisation.latitude }}"
                         data-longitude="{{ rucher.localisation.longitude }}"
                         data-apikey="{{ apikey }}">                   
                    </div>
                </div> 
            </div>     
        </div>
    </div>
                    
    {%if pagination is not empty %}
    <div class="row">
        <div class=" col-md-12"> 
            <hr>
            <h4>Emplacements</h4>            
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Nom</th>
                        <th>Ruche</th>
                        <th>Type</th>
                        <th>Race</th>
                        <th>Hausses</th>
                    </thead>
                    <tbody>
                        {% for emplacement in pagination %}
                            <tr>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': emplacement.id }) }}">{{ emplacement.nom }}</a></td>
                                {% if emplacement.ruche %}
                                    <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ emplacement.ruche.nom }}</a></td>
                                    <td>{{ emplacement.ruche.corps.type.libelle }} {{ emplacement.ruche.corps.nbcadres }}</td>
                                    {% if emplacement.ruche.colonie %}
                                        <td>{{ emplacement.ruche.colonie.remerages|last.reine.race.libelle }}</td>
                                    {% endif %}
                                    <td>{{ emplacement.ruche.hausses|length }}</td>
                                {% else %}
                                    <td colspan="4">
                                        <a title="Créer une colonie" href="{{ path('kg_beekeeping_management_add_ruche', { 'emplacement_id': emplacement.id }) }}" class="btn btn-info btn-xs">{{ icon('plus') }} Créer une colonie</a>                                                
                                    </td> 
                                {% endif %}                                     
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div>                
            </div>                            
        </div>
    </div>
    {% endif %}
{% endblock %}
