{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/view.html.twig #}

{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@KGBeekeepingManagementBundle/Resources/public/css/weather/*'
        '@KGBeekeepingManagementBundle/Resources/public/css/map/edit_map.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/weather/*'
                   'js/ol/ol.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/map/display_map.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Ruchers{% endblock %}

{% block rucher %}class="active"{% endblock %}

{% block body %}
    <strong>Rucher</strong>  

    <hr>
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-8">
            <div id="map" 
                 class="thumbnail" 
                 data-latitude="{{ rucher.localisation.latitude }}"
                 data-longitude="{{ rucher.localisation.longitude }}">
               </div> 
            </div>

            <div id="weather"
                 data-latitude="{{ rucher.localisation.latitude }}"
                 data-longitude="{{ rucher.localisation.longitude }}">                   
            </div>
            
        </div>
    </div>
{% endblock %}