{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/weather/*'
        '@KGBeekeepingManagementBundle/Resources/public/css/map/display_map.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/weather/*'
                   'js/ol/ol.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/map/display_map.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Rucher{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': rucher.exploitation.id }) }}" class="btn btn-primary">{{ rucher.exploitation.nom }}</a>
    <a href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}" class="btn btn-primary">{{ rucher.nom }}</a>
{% endblock %} 

{% block screen %}
    
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Rucher {{ rucher.nom }}</h3>
        </div>        
        <div class="panel-body">            
            <div class="row">
                <div class="col-md-6">    
                    <div id="weather"
                         data-latitude="{{ rucher.localisation.latitude }}"
                         data-longitude="{{ rucher.localisation.longitude }}">                   
                    </div>
                </div>
                    
                <div class="col-md-6">
                    <div id="map" 
                         class="thumbnail" 
                         data-latitude="{{ rucher.localisation.latitude }}"
                         data-longitude="{{ rucher.localisation.longitude }}">
                    </div> 
                </div>
            </div>
            
            <hr>

            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                    {% if rucher.image is not null %}
                        <img src="{{ asset(rucher.image.webPath) }}" alt="{{ rucher.image.alt }}" class="img-thumbnail img-responsive">
                    {% else %}
                        <img src="../../../../no_picture.png" alt="logo" class="img-thumbnail img-responsive">
                    {% endif %}           
                </div>
                <div class=" col-md-9 col-lg-9 "> 
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th>Emplacement</th>
                                <th>Taux exposition soleil</th>
                                <th>Orientation</th>
                                <th>Ruche</th>
                                <th>Colonnie</th>                            
                                <th>Transhumer</th>
                            </thead>
                            <tbody>
                                {% for emplacement in emplacements %}
                                    <tr>
                                        <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': emplacement.id }) }}">{{ emplacement.nom }}</a></td>
                                        <td>{{ emplacement.soleil }}</td>
                                        <td>{{ emplacement.orientation.libelle }}</td>
                                        <td>{% if emplacement.ruche %}<a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ emplacement.ruche.nom }}</a></td>{% endif %}
                                        <td>{% if emplacement.ruche %}{% if emplacement.ruche.colonnie %}<a title="Afficher la colonnie" href="{{ path('kg_beekeeping_management_view_colonnie', { 'colonnie_id': emplacement.ruche.colonnie.id }) }}">{{ emplacement.ruche.colonnie.nom }}</a>{% endif %}{% endif %}</td>
                                        <td>{% if emplacement.ruche %}<a title="Transhumer la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': ruche.id }) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-transfer"></span></a>{% endif %}</td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% include "KGBeekeepingManagementBundle::pagination.html.twig" %}
                        </div>
                    </div>                            
                </div>
            </div>             
        </div>
        <div class="panel-footer">
            <a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_rucher', { 'rucher_id' : rucher.id }) }}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
            <span class="pull-right">
                <a title="Créer un emplacement" href="{{ path('kg_beekeeping_management_add_emplacement', { 'rucher_id' : rucher.id }) }}" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i></a>
                <a title="Editer" href="{{ path('kg_beekeeping_management_update_rucher', { 'rucher_id' : rucher.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
            </span>
        </div>
    </div>
{% endblock %}
