{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss'
        'css/ol/ol.css' 
        'bundles/kgbeekeepingmanagement/css/weather/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        '@KGBeekeepingManagementBundle/Resources/public/js/weather/*'
        'js/ol/ol.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Rucher{% endblock %}

{% block menu %}
    {% include 'KGBeekeepingManagementBundle::menuRucher.html.twig' %}
{% endblock menu %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Données du rucher</h4>
        </div>
    </div>    
{% endblock %}

{% block panel_body %}     
    <div class="row">
        <div class=" col-md-12">
            <div class="row">
                <div class="col-sm-3" align="center"> 
                    {% if rucher.image is not null %}
                        <img src="{{ asset(rucher.image.webPath) }}" alt="{{ rucher.image.alt }}" class="img-thumbnail img-responsive">
                    {% else %}
                        <img src="{{ asset("img/rucher.jpg") }}" alt="Photo par défaut" class="img-thumbnail img-responsive">
                    {% endif %}           
                </div>
                <div class="col-sm-4">
                    <h4>Propriétaire du terrain</h4>
                    <table class="table">  
                        <tbody>                                 
                            <tr>
                                <td><strong>Nom</strong></td>
                                <td>{{ rucher.proprietaire.nom|capitalize }}</td>
                            </tr>
                            <tr>
                                <td><strong>Prénom</strong></td>
                                <td>{{ rucher.proprietaire.prenom|capitalize }}</td>
                            </tr>
                            <tr>
                                <td><strong>Adresse</strong></td>
                                <td>{{ rucher.proprietaire.adresse }}</td>
                            </tr>
                            <tr>
                                <td><strong>Téléphone 1</strong></td>
                                <td>{% if rucher.proprietaire.telephone %}{{ phone_number_format(rucher.proprietaire.telephone, 'INTERNATIONAL') }}{% endif %}</td>
                            </tr>      
                            <tr>
                                <td><strong>Téléphone 2</strong></td>
                                <td>{% if rucher.proprietaire.telephone2 %}{{ phone_number_format(rucher.proprietaire.telephone2, 'INTERNATIONAL') }}{% endif %}</td>
                            </tr>                              
                        </tbody>
                    </table>            
                </div>  
                <div class="col-sm-5">
                    <h4>Prévisions météo</h4>
                    <div id="weather"
                         data-latitude="{{ rucher.localisation.latitude }}"
                         data-longitude="{{ rucher.localisation.longitude }}"
                         data-apikey="{{ apikey }}">                   
                    </div>
                </div> 
            </div>     
        </div>
    </div>
                                   
    <hr>

    {% if pagination is not empty %}     
    <h4>Emplacements</h4>
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Nom</th>
                        <th>Ruche</th>
                        <th>Type</th>
                        <th>Race</th>
                        <th>Hausses</th>
                    </thead>
                    <tbody>
                        {% for emplacement in pagination %}
                            <tr>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': emplacement.id }) }}">{{ emplacement.nom }}</a></td>
                                {% if emplacement.ruche %}
                                    <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ emplacement.ruche.nom }}</a></td>
                                    <td>{{ emplacement.ruche.corps.type.libelle }} {{ emplacement.ruche.corps.nbcadres }}</td>
                                    {% if emplacement.ruche.colonie %}
                                        <td>{{ emplacement.ruche.colonie.remerages|last.reine.race.libelle }}</td>
                                    {% endif %}
                                    <td>{{ emplacement.ruche.hausses|length }}</td>
                                {% else %}
                                    <td colspan="4">
                                        <a title="Créer une colonie" href="{{ path('kg_beekeeping_management_add_ruche', { 'emplacement_id': emplacement.id }) }}" class="btn btn-info btn-xs">{{ icon('plus') }} Créer une colonie</a>                                                
                                    </td> 
                                {% endif %}                                     
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div> 
            </div>                            
        </div>
    </div>    
    {% else %}    
    <div class="row">
        <div class="col-md-12" align="center">      
            Le rucher est vide. Commencez par <a title="Créer un emplacement" href="{{ path('kg_beekeeping_management_add_emplacement', { 'rucher_id': rucher.id }) }}">créer un emplacement</a>.
        </div>
    </div>          
    {% endif %}                
{% endblock %}
