{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'css/ol/ol.css' 
        '@KGBeekeepingManagementBundle/Resources/public/css/weather/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/weather/*'
                   'js/ol/ol.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - Rucher{% endblock %}

{% block ruchers %}{{ rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            <h4>Rucher {{ rucher.nom }}</h4>
        </div>
        <div class="col-xs-6">
            <span class="pull-right">
                <a title="Créer un emplacement" href="{{ path('kg_beekeeping_management_add_emplacement', { 'rucher_id' : rucher.id }) }}" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i><strong> Créer un emplacement</strong></a>
                {% set break = false %}
                {% for emplacement in rucher.emplacements if not break and emplacement.ruche is not null %}
                    {% for hausse in emplacement.ruche.hausses if not break %}
                        {% if hausse.nbplein > 0 %}
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% if break %}
                    <a title="Récolter" href="{{ path('kg_beekeeping_management_add_recolte', { 'rucher_id' : rucher.id }) }}" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-export"></i><strong> Récolter</strong></a>
                {% endif %}
                <a title="Modifier le rucher" href="{{ path('kg_beekeeping_management_update_rucher', { 'rucher_id' : rucher.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i><strong> Modifier le rucher</strong></a>
            </span>
        </div>
    </div>    
{% endblock %}


{% block panel_body %}                                  
    <div class="row">
        <div class="col-sm-3" align="center"> 
            {% if rucher.image is not null %}
                <img src="{{ asset(rucher.image.webPath) }}" alt="{{ rucher.image.alt }}" class="img-thumbnail img-responsive">
            {% else %}
                <img src="../../../../no_picture.png" alt="logo" class="img-thumbnail img-responsive">
            {% endif %}           
        </div>
        <div class="col-sm-4">
            <h4>Propriétaire du terrain</h4>
            <table class="table">  
                <tbody>                                 
                    <tr>
                        <td><strong>Nom</strong></td>
                        <td>{{ rucher.proprietaire.nom|capitalize }}</td>
                    </tr>
                    <tr>
                        <td><strong>Prénom</strong></td>
                        <td>{{ rucher.proprietaire.prenom|capitalize }}</td>
                    </tr>
                    <tr>
                        <td><strong>Adresse</strong></td>
                        <td>{{ rucher.proprietaire.adresse }}</td>
                    </tr>
                    <tr>
                        <td><strong>Téléphone</strong></td>
                        <td>{{ rucher.proprietaire.telephone }}</td>
                    </tr>                              
                </tbody>
            </table>            
        </div>  
        <div class="col-sm-5">
            <h4>Prévisions météo</h4>
            <div id="weather"
                 data-latitude="{{ rucher.localisation.latitude }}"
                 data-longitude="{{ rucher.localisation.longitude }}">                   
            </div>
        </div> 
    </div>

    <hr>

    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Emplacement</th>
                        <th>Ruche</th>
                        <th>Colonie</th>
                        <th>Race</th>
                        <th>Transhumer</th>
                    </thead>
                    <tbody>
                        {% set rucheExist = false %}
                        {% for emplacement in emplacements %}
                            <tr>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': emplacement.id }) }}">{{ emplacement.nom }}</a></td>
                                {% if emplacement.ruche %}
                                    {% set rucheExist = true %}
                                    <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ emplacement.ruche.nom }}</a></td>
                                    {% if emplacement.ruche.colonie %}
                                        <td><a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': emplacement.ruche.colonie.id }) }}">{{ emplacement.ruche.colonie.appellation }}</a></td>
                                        <td>{{ emplacement.ruche.colonie.reine.race.libelle }}</td>
                                        <td><a title="Transhumer la ruche" href="{{ path('kg_beekeeping_management_transhumer_ruche', { 'ruche_id': emplacement.ruche.id }) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-transfer"></span></a></td>
                                    {% endif %}
                                {% else %}
                                    <td colspan="4">
                                        <a title="Créer une colonie" href="{{ path('kg_beekeeping_management_add_ruche', { 'emplacement_id': emplacement.id }) }}" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-plus"></i> Créer une colonie</a>                                                
                                    </td> 
                                {% endif %}                                     
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include "KGBeekeepingManagementBundle::pagination.html.twig" %}
                </div>
            </div>                            
        </div>
    </div>             

    {% if rucher.recoltesrucher is empty and not rucheExist %}            
        <a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_rucher', { 'rucher_id' : rucher.id }) }}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a>                            
    {% endif %}                        
{% endblock %}
