{# src/KG/BeekeepingManagementBundle/Resources/views/accueil.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block screen %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Exploitations ({{ nbExploitations }})
                </div>
                <div class="panel-body">                          
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th>Exploitation</th>                            
                            </thead>
                            <tbody>
                                {% for exploitation in exploitations %}
                                    <tr>
                                        <td><a title="Afficher l'exploitation" href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': exploitation.id }) }}">{{ exploitation.nom }}</a></td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% include "KGBeekeepingManagementBundle::pagination.html.twig" %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">              
                    <div class="row">
                        <div class="col-md-12">
                            <a title="Créer une exploitation" href="{{ path('kg_beekeeping_management_add_exploitation') }}" class="pull-right btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i></a>
                        </div>                           
                    </div>
                </div>                           
            </div>
        </div>
    </div>

{% endblock %}