{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Résumé de l'exploitation{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Panneau de contrôle</h4>
        </div>
    </div>    
{% endblock %}


{% block panel_body %}
    {% for rucher in app.user.exploitations|first.ruchers %}
        {% if not loop.first %}
            <hr>
        {% endif %} 
        <div class="row">            
            <div class="col-xs-3">
               {% if rucher.image %}
                   <img src="{{ asset(rucher.image.webPath) }}" alt="{{ rucher.image.alt }}" class="pull-left img-responsive thumb margin10 img-thumbnail">
               {% else %}
                   <img src="{{ asset("img/rucher.jpg") }}" alt="Photo par défaut" class="pull-left img-responsive thumb margin10 img-thumbnail">
               {% endif %}                      
            </div>
            <div class="col-xs-">
                <h4>{{ rucher.nom }}</h4>
                {% set nblibres = 0 %}
                {% set nbruches = 0 %}
                {% for emplacement in rucher.emplacements %}
                    {% if emplacement.ruche %}
                        {% set nbruches = nbruches + 1 %}
                    {% else %}
                        {% set nblibres = nblibres + 1 %}
                    {% endif %}
                {% endfor %}
                <p>{{ nbruches }} Ruches | {{ nblibres }} Emplacements libres</p>
                
                {% set nbcolonies = 0 %}
                {% for colonie in rucher.colonies if colonie.morte and nbcolonies < 2 %}
                    {% set nbcolonies = nbcolonies + 1 %}                   
                {% endfor %}
                {% if nbcolonies > 0 %}
                    <p>Colonie{% if nbcolonies > 1 %}s{% endif %} morte{% if nbcolonies > 1 %}s{% endif %} dans ce rucher : 
                        {% for colonie in rucher.colonies if colonie.morte %}
                            {% if not loop.first %}
                                - 
                            {% endif %}
                            <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': colonie.id }) }}">{{ colonie.numero }}</a>
                        {% endfor %}    
                    </p>
                {% endif %}
                <p><a title="Afficher le rucher" class="btn btn-sm btn-success" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">Afficher</a></p>
            </div>    
        </div>          
    {% endfor %}            
{% endblock %}