{# src/KG/BeekeepingManagementBundle/Resources/views/accueil.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Panneau de contrôle{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Panneau de contrôle</h4>
        </div>
    </div>    
{% endblock %}


{% block panel_body %}
    {% for rucher in app.user.exploitations|first.ruchers %}
        {% if not loop.first %}
            <hr>
        {% endif %} 
        <div class="row">            
            <div class="col-xs-3">
               {% if rucher.image %}
                   <img src="{{ asset(rucher.image.webPath) }}" alt="{{ rucher.image.alt }}" class="pull-left img-responsive thumb margin10 img-thumbnail">
               {% else %}
                   <img src="{{ asset("img/rucher.jpg") }}" alt="Photo par défaut" class="pull-left img-responsive thumb margin10 img-thumbnail">
               {% endif %}                      
            </div>
            <div class="col-xs-">
                <h4>{{ rucher.nom }}</h4>
                {% set nblibres = 0 %}
                {% set nbruches = 0 %}
                {% for emplacement in rucher.emplacements %}
                    {% if emplacement.ruche %}
                        {% set nbruches = nbruches + 1 %}
                    {% else %}
                        {% set nblibres = nblibres + 1 %}
                    {% endif %}
                {% endfor %}
                <p>{{ nbruches }} Ruches | {{ nblibres }} Emplacements libres</p>
                <p><a title="Afficher le rucher" class="btn btn-sm btn-success" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">Afficher</a></p>
            </div>    
        </div>          
    {% endfor %}            
{% endblock %}