{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html>
<html lang="fr">
    <head>
        
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:title" content="OpenHiveManager" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="La première application participative de gestion appicole" />
        <meta property="og:url" content="http://www.openhivemanager.org" />
        <meta property="og:site_name" content="OpenHiveManager" />
        <meta property="og:image" content="http://www.openhivemanager.org/logo_ogpng" /> 
        <meta property="og:image:width" content="200" />
        
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
	<title>OpenHiveManager - Manager</title>

        <!-- Global stylesheets -->
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?uglifycss'
                    'assets/css/icons/icomoon/styles.css'
                    'assets/css/icons/fontawesome/styles.min.css'
                    'assets/css/bootstrap.css'
                    'assets/css/core.css'
                    'assets/css/components.css'
                    'assets/css/colors.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        {% endblock %}
        <!-- /global stylesheets -->
        
    </head>

    <body>

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('kg_site_home') }}">OpenHiveManager</a>

                <ul class="nav navbar-nav pull-right visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                    <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">
                <ul class="nav navbar-nav">
                    <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <!--<img src="assets/images/image.png" alt="">-->
                            <span>{{ app.user.username }}</span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user-plus"></i> Mon profil</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-key"></i> Mot de passe</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main sidebar -->
                <div class="sidebar sidebar-main">
                    <div class="sidebar-content">

                        <!-- User menu -->
                        <div class="sidebar-user">
                            <div class="category-content">
                                <div class="media">
                                    <!--<a href="#" class="media-left"><img src="assets/images/image.png" class="img-circle img-sm" alt=""></a>-->
                                    <div class="media-body">
                                        <span class="media-heading text-semibold">{{ app.user.exploitations|first.nom }}</span>
                                        <!--<div class="text-size-mini text-muted">
                                            <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                                        </div>-->
                                    </div>

                                    <div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="{{ path('kg_beekeeping_management_update_exploitation', { 'exploitation_id': app.user.exploitations|first.id }) }}"><i class="icon-cog3"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /user menu -->


                        <!-- Main navigation -->
                        <div class="sidebar-category sidebar-category-visible">
                            <div class="category-content no-padding">
                                <ul class="navigation navigation-main navigation-accordion">

                                    <!-- Main -->
                                    <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Main pages"></i></li>
                                    <li><a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': app.user.exploitations|first.id }) }}"><i class="fa fa-tachometer"></i> <span>Panneau de contrôle</span></a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-sitemap"></i> <span>Ruchers</span></a>
                                            <ul>
                                                {% for rucher in app.user.exploitations|first.ruchers %}
                                                    <li>
                                                        <a href="#"><i class="fa fa-building"></i> {{ rucher.nom }}<span class="fa arrow"></span></a>
                                                        <ul class="nav nav-second-level">
                                                            <li><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">{{ icon('eye') }} Afficher</a></li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-archive fa-fw"></i>Ruches <span class="fa arrow"></span></a>
                                                                <ul>
                                                                    {% for emplacement in rucher.emplacements %}
                                                                        {% if emplacement.ruche %}
                                                                            <li>
                                                                                <a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ icon('eye') }} {{ emplacement.ruche.nom }}</a>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% endfor %}    
                                            </ul>
                                        </li>
                                        <!-- /main -->

                                </ul>
                            </div>
                        </div>
                        <!-- /main navigation -->

                    </div>
                </div>
                <!-- /main sidebar -->


                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Page header -->
                    <div class="page-header">

                        <div class="page-header-content">
                            <div class="page-title">
                                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{% block titre %}Panneau de contrôle{% endblock %}</span></h4>
                            </div>
                        </div>
                        
                        <div class="breadcrumb-line">                           
                            <ul class="breadcrumb-elements">
                                <!--<li><a href="#"><i class="icon-comment-discussion position-left"></i> Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-gear position-left"></i>
                                            Dropdown
                                            <span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                            <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                    </ul>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <!-- /page header -->


                        <!-- Content area -->
                        <div class="content">

                                <!-- Footer -->
                                <div class="footer text-muted">
                                    OpenHiveManager n'est pas une application gratuite. C'est une application participative. <a title="Participez" href="{{ path('kg_site_participer') }}">Pour la faire vivre, participez! </a>
                                </div>
                                <!-- /footer -->

                        </div>
                        <!-- /content area -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

	</div>
	<!-- /page container -->
               
        {% block javascripts %}
            {% javascripts filter='?uglifyjs2' 
                    'assets/js/core/libraries/jquery.min.js'
                    'assets/js/core/libraries/bootstrap.min.js'
                    'assets/js/core/app.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>          		
            {% endjavascripts %}
        
            <!-- Piwik -->
            <script type="text/javascript">
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                    var u="//analytics.openhivemanager.org/";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', 1]);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="//analytics.openhivemanager.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->	           
        {% endblock %}    
    </body>
    
</html>
