{% extends 'KGSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  
    {% stylesheets filter='cssrewrite' 
        '@KGBeekeepingManagementBundle/Resources/public/css/layout.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}        
{% endblock %}

{% block menu_user %}
    
{% endblock %}
    
{% block body %}
    {% if is_granted('ROLE_USER') %}
        {{ parent() }}
        <div class="col-xs-12" id="navbar_exploitation">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a title="Résumé" class="navbar-brand" href="{{ path('kg_beekeeping_management_home') }}">Exploitation {{ app.user.exploitations|first.nom }}</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ruchers <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for rucher in app.user.exploitations|first.ruchers %}
                                            {% if not rucher.supprime %}
                                                <li><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">{{ rucher.nom }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        <li role="separator" class="divider"></li>
                                        <li><a title="Créer un rucher" href="{{ path('kg_beekeeping_management_add_rucher', { 'exploitation_id': app.user.exploitations|first.id }) }}"><i class="glyphicon glyphicon-plus"></i> Créer un rucher</a></li>                              
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>                
            </div>    
                       
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% if loop.first %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success" role="alert">
                {% endif %}
                                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
                {% if loop.last %}        
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('danger') %}
                {% if loop.first %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                {% endif %}
                                <i><span class="glyphicon glyphicon-remove-sign"></span> {{ flashMessage }}</i>
                {% if loop.last %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}                  
            
            {% block form_error %}{% endblock %}
                
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% block panel_title %}{% endblock %} 
                        </div>                
                        <div class="panel-body">
                            {% block panel_body %}{% endblock %}
                        </div>                    
                    </div>    
                </div>       
            </div>
        </div>
    {% endif %}     
{% endblock %}                