{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'KGSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  
    {% stylesheets filter='cssrewrite' 
        '@KGBeekeepingManagementBundle/Resources/public/css/layout.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}        
{% endblock %}

{% block menu_user %}
    <li><a title="Modifier l'exploitation" href="{{ path('kg_beekeeping_management_update_exploitation', { 'exploitation_id': app.user.exploitations|first.id }) }}">{{ app.user.exploitations|first.nom }}</a></li>    
{% endblock %}
    
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            {{ parent() }}
            <div class="col-xs-12" id="body">

                {% if app.user.exploitations is not empty %}
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a title="Exploitation" class="navbar-brand" href="{{ path('kg_beekeeping_management_home') }}">{{ app.user.exploitations|first.nom }}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        {% block menuRucher %}{% endblock menuRucher %}
                    </div><!-- /.navbar-collapse -->
                </nav>                       
                {% endif %}
                
                {% block menuRuche %}{% endblock menuRuche %}
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}               

                {% block form_error %}{% endblock %}

                <div class="row">
                    <div class="col-md-12"> 
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% block panel_title %}{% endblock %} 
                            </div>                
                            <div class="panel-body">
                                {% block panel_body %}{% endblock %}
                            </div>                    
                        </div>      
                    </div>       
                </div>
            </div>
        </div>
    {% endif %}     
{% endblock %}   

{% block footer %}
    <footer>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
                Ce <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.openhivemanager.org" property="cc:attributionName" rel="cc:attributionURL">site</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licence Creative Commons Attribution - Pas d&#39;Utilisation Commerciale - Pas de Modification 4.0 International</a>.
            </div>                                                      
        </div>
    </footer>  
{% endblock %}      