{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}
{% extends "KGSiteBundle::layout.html.twig" %}

{% block sitetitle %}{{ parent() }} - Manager{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite, ?uglifycss'
            'assets/css/icons/icomoon/styles.css'
            'assets/css/icons/fontawesome/styles.min.css'
            'assets/css/bootstrap.css'
            'assets/css/core.css'
            'assets/css/components.css'
            'assets/css/colors.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?uglifyjs2'
            'assets/js/plugins/loaders/pace.min.js' 
            'assets/js/core/libraries/jquery.min.js'
            'assets/js/core/libraries/bootstrap.min.js'
            'assets/js/plugins/loaders/blockui.min.js'
            'assets/js/plugins/ui/nicescroll.min.js'
            'assets/js/pages/layout_fixed_custom.js'
            'assets/js/core/app.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>          		
    {% endjavascripts %}
    {{ parent() }}
{% endblock %} 
     
{% block classbody %}
class="layout-boxed"    
{% endblock %}    

{% block mainnavbar %}
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('kg_site_home') }}">OpenHiveManager</a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">                                                     
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <!--<img src="assets/images/image.png" alt="">-->
                        <i class="icon-user"></i>
                        <span>{{ app.user.username }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user-plus"></i> Mon profil</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-key"></i> Mot de passe</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Déconnexion</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('kg_site_cgu') }}"><i class="fa fa-book position-left"></i> CGU</a></li>
                <li><a href="{{ path('kg_site_contact') }}"><i class="fa fa-envelope position-left"></i> Contact</a></li>                      
                <li><a href="https://www.pikari.fr/c/yhzdbn"><strong><i class="fa fa-heart position-left"></i> Participez</strong></a></li>  
            </ul>
        </div>
    </div>
{% endblock %}

{% block pagecontainer %}
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            {% if app.user.exploitations %}
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <!-- User menu 
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <div class="media-body">
                                    <span class="media-heading text-semibold">{#{{ app.user.exploitations|first.nom }}#}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->


                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Menu Principal</span> <i class="icon-menu" title="Main pages"></i></li>
                                {% for exploitation in app.user.exploitations %}
                                    <li>
                                        {% if not app.user.isInvite(exploitation) %}
                                            <a href="#"><i class="icon-lan2"></i> <span>{{ exploitation.nom }}</span></a>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': exploitation.id }) }}">
                                                        <i class="fa fa-tachometer"></i> 
                                                        <span>Vue globale</span>
                                                    </a>
                                                </li>
                                                {% for rucher in exploitation.ruchers %}
                                                    <li>
                                                        <a href="#"><i class="fa fa-building"></i> {{ rucher.nom }}<span class="fa arrow"></span></a>
                                                        <ul class="nav nav-second-level">
                                                            <li><a title="Ouvrir le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}"><i class="fa fa-folder-open-o"></i> Ouvrir</a></li>
                                                            {% if rucher.hasRuche %}
                                                                <li>
                                                                    <a href="#"><i class="fa fa-list fa-fw"></i>Ruches <span class="fa arrow"></span></a>
                                                                    <ul>
                                                                        {% for emplacement in rucher.emplacements | trie_emplacement_par_ruche %}
                                                                            {% if emplacement.ruche %}
                                                                                {% if emplacement.ruche.id %}
                                                                                    {% if not emplacement.ruche.colonie.morte %}
                                                                                        <li>
                                                                                            <a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}"><i class="fa fa-archive"></i> {{ emplacement.ruche.nom }}</a>
                                                                                        </li>
                                                                                    {% endif %}    
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}   
                                            </ul>
                                        {% else %}  
                                            <a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': exploitation.id }) }}"><i class="icon-lan2"></i> <span>{{ exploitation.nom }}<span class="label bg-blue-800"><i class="fa fa-user-plus"></i></span></span></a>
                                        {% endif %}
                                    </li> 
                                {% endfor %}
                                <!-- /main -->
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            {% endif %}
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Cover area -->
                {% block cover %}
                {% endblock %}    
                <!-- /cover area -->                    

                <!-- Toolbar -->
                {% block toolbar %}
                {% endblock %}
                <!-- /toolbar -->                    

                <!-- Content area -->
                <div class="content">
                        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %} 
                        {% block body %}

                        {% endblock %}

                        <!-- Footer -->
                        <div class="footer text-muted">
                            OpenHiveManager n'est pas une application gratuite. C'est une application participative. <a title="Participez" href="https://www.pikari.fr/c/pem5in">Pour la faire vivre, participez! </a>
                        </div>
                        <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
{% endblock %}