<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if colonie.ruche %}
            <a title="Ruche" class="navbar-brand" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': colonie.ruche.id }) }}">{{ colonie.rucher.nom }} - {{ colonie.ruche.nom }}</a>
        {% else %}
            <a title="Colonie" class="navbar-brand" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': colonie.id }) }}">{{ colonie.rucher.nom }} - Colonie n°{{ colonie.numero }} (morte)</a>
        {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex2-collapse">
        {% set menuRuche = knp_menu_get('KGBeekeepingManagementBundle:RucheMenu:mainMenu', [], {'colonie': colonie} ) %}
        {{ knp_menu_render(menuRuche, { 'style': 'navbar-right' }) }}
    </div><!-- /.navbar-collapse -->
</nav>    



