<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a title="Ruche" class="navbar-brand" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': colonie.ruche.id }) }}">{{ colonie.ruche.rucher.nom }} - {{ colonie.ruche.nom }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex2-collapse">
        {% set menuRuche = knp_menu_get('KGBeekeepingManagementBundle:RucheMenu:mainMenu', [], {'colonie': colonie} ) %}
        {{ knp_menu_render(menuRuche, { 'style': 'navbar-right' }) }}
    </div><!-- /.navbar-collapse -->
</nav>    

{% if colonie.morte %}
    <div class="well">
        <h4>{{ icon('heartbeat') }} Cette colonie est morte le {{ colonie.dateMort|date("d/m/Y") }}</h4>
        Causes de la mort :
        {% for cause in colonie.causes %}
            {% if not loop.first %}
                - 
            {% endif %}
            {{ cause.libelle }}
        {% endfor %}

        {% if colonie.causes is not empty and colonie.autreCause %}
            -
        {% endif %}
        {{ colonie.autreCause }}
    </div>
{% endif %} 

