<a id="btn_menu" class="btn btn-info btn-md" href="{{ path('kg_beekeeping_management_home') }}" role="button"><strong>{{ icon('angle-left') }} {{ rucher.exploitation.nom }}</strong></a>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".menuRucher">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a title="Rucher" class="navbar-brand" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">{{ rucher.nom }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse menuRucher">
        {% set menuRucher = knp_menu_get('KGBeekeepingManagementBundle:RucherMenu:mainMenu', [], {'rucher': rucher} ) %}
        {{ knp_menu_render(menuRucher, { 'style': 'navbar-right' }) }}
    </div><!-- /.navbar-collapse -->
</nav>    