{# src/KG/BeekeepingManagementBundle/Resources/views/Colonnie/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/colonnie/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une colonnie{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <a href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': exploitation.id }) }}" class="btn btn-primary">{{ exploitation.nom }}</a>
{% endblock %} 
            
{% block screen %}   
    {{ form_errors(form.nom) }}
    {{ form_errors(form.reine.race) }}
    {{ form_errors(form.affectation) }}
    {{ form_errors(form.anneeColonnie) }}
    {{ form_errors(form.provenanceColonnie) }}
    {{ form_errors(form.etat) }} 
    {{ form_errors(form.agressivite) }}
    {{ form_errors(form.reine.anneeReine) }}
    {{ form_errors(form.reine.provenanceReine) }}
    {{ form_errors(form.reine.marquage) }}
    {{ form_errors(form) }}
             
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Création d'une colonnie</h3>
        </div>

        <div class="panel-body">                
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            
            <fieldset>
                
                <legend>Colonnie</legend>
                
                <div class="form-group">
                    {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>     

                <div class="form-group">
                    {{ form_label(form.affectation, "Affectation :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.affectation, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label(form.anneeColonnie, "Année :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.anneeColonnie, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label(form.provenanceColonnie, "Provenance :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.provenanceColonnie, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label(form.etat, "Etat :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>                      

                <div class="form-group">
                    {{ form_label(form.agressivite, "Agressivité :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.agressivite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>                    
            
            </fieldset>
            
            <fieldset> 
                
                <legend>Reine</legend>
                <div class="form-group">
                    {{ form_label(form.reine.race, "Race :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.reine.race, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>  
                    
                <div class="form-group">
                    {{ form_label(form.reine.anneeReine, "Année :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.reine.anneeReine, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label(form.reine.provenanceReine, "Provenance :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.reine.provenanceReine, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label(form.reine.marquage, "Marquage :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.reine.marquage, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label" for="checkboxes">Clippage :</label>
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.reine.clippage, {'attr': {'class': 'form-control', 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                    </div>
                </div>                   
            </fieldset>
                         
            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <div class="pull-right">
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                            Annuler
                        </a>

                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                            Sauvegarder
                        </button>
                    </div>
                </div>        
            </div>
                                
            {{ form_end(form) }}         
        </div>      
    </div>

{% endblock %}