{# src/KG/BeekeepingManagementBundle/Resources/views/Colonnie/enrucher.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/colonnie/enrucher.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endjavascripts %}    
{% endblock %}

{% block title %}{{ parent() }} - Enrucher une colonnie{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}
            
{% block screen %}   
    {% for flashMessage in app.session.flashbag.get('danger') %}
        {% if loop.first %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-remove-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}   
    {{ form_errors(form.type) }}
    {{ form_errors(form.ruche) }}
    {{ form_errors(form) }}
    
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Enruchement de la colonnie {{ colonnie.nom }}</h3>
        </div>

        <div class="panel-body">                
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            
                <div class="form-group">
                    {{ form_label(form.type, "Type de ruche :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label(form.ruche, "Ruche :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.ruche, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>              
                         
            <input type="hidden" id="exploitation" value="{{ colonnie.exploitation.id }}"/>
            
            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <div class="pull-right">
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                            Annuler
                        </a>

                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                            Sauvegarder
                        </button>
                    </div>
                </div>        
            </div>
                                
            {{ form_end(form) }}         
        </div>      
    </div>

{% endblock %}