{# src/KG/BeekeepingManagementBundle/Resources/views/Colonnie/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Visite{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <a href="{{ path('kg_beekeeping_management_view_exploitation_colonnie', { 'exploitation_id': colonnie.exploitation.id }) }}" class="btn btn-primary">{{ colonnie.exploitation.nom }}</a>
    <a href="{{ path('kg_beekeeping_management_view_colonnie', { 'colonnie_id': colonnie.id }) }}" class="btn btn-primary">{{ colonnie.nom }}</a>
{% endblock %} 

{% block screen %}  
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('danger') %}
        {% if loop.first %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
                <i><span class="glyphicon glyphicon-remove-sign"></span> {{ flashMessage }}</i>
        {% if loop.last %}        
            </div>
        {% endif %}
    {% endfor %}          
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Colonnie {{ colonnie.nom }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                    <img src="../../../../../../img/abeille/{{ colonnie.race.libelle }}.jpg" alt="{{ colonnie.race.libelle }}" class="img-thumbnail img-responsive">             
                </div>

                <div class=" col-md-9 col-lg-9 ">
                    {% if colonnie.morte %}
                    <div class="alert alert-danger" role="alert">
                        <h4><i class="glyphicon glyphicon-alert"></i> Cette colonnie est morte</h4>
                        <strong>Causes de la mort :</strong></td>
                        {% for cause in colonnie.causes %}
                            {% if not loop.first %}
                                - 
                            {% endif %}
                            {{ cause.libelle }}
                        {% endfor %}

                        {% if colonnie.causes is not empty and colonnie.autreCause %}
                            -
                        {% endif %}
                        {{ colonnie.autreCause }}
                    </div>
                    {% endif %}
                        
                    <table class="table">    
                        <tbody>
                            <tr>
                                <td><strong>Race :</strong></td>
                                <td>{{ colonnie.race.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Année :</strong></td>
                                <td>{{ colonnie.anneeColonnie|date("Y") }}</td>
                            </tr>
                            
                            {% if colonnie.colonnieMere %}
                            <tr>
                                <td><strong>Colonnie mère :</strong></td>
                                <td><a title="Afficher la colonnie" href="{{ path('kg_beekeeping_management_view_colonnie', { 'colonnie_id': colonnie.colonnieMere.id }) }}">{{ colonnie.colonnieMere.nom }}</a></td>
                            </tr>                              
                            {% endif %}

                            {% if colonnie.colonniesFilles is not empty %}
                            <tr>
                                <td><strong>Colonnie{% if colonnie.colonniesFilles|length > 1 %}s{% endif %} fille{% if colonnie.colonniesFilles|length > 1 %}s{% endif %} :</strong></td>
                                <td>
                                    {% for colonnieFille in colonnie.colonniesFilles if not colonnieFille.supprime %}
                                        {% if not loop.first %}
                                            - 
                                        {% endif %}
                                        <a title="Afficher la colonnie" href="{{ path('kg_beekeeping_management_view_colonnie', { 'colonnie_id': colonnieFille.id }) }}">{{ colonnieFille.nom }}</a>
                                    {% endfor %}
                                </td>
                            </tr>                              
                            {% endif %}

                            {% if colonnie.ruche %}
                            <tr>
                                <td><strong>Ruche :</strong></td>
                                <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': colonnie.ruche.id }) }}">{{ colonnie.ruche.nom }}</a></td>
                            </tr>
                            
                            {% if colonnie.ruche.rucher %}
                            <tr>
                                <td><strong>Rucher :</strong></td>
                                <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': colonnie.ruche.rucher.id }) }}">{{ colonnie.ruche.rucher.nom }}</a></td>
                            </tr>                              
                            {% endif %}                            
                            
                            {% endif %}
                            
                            <tr>
                                <td><strong>Affectation :</strong></td>
                                <td>{{ colonnie.affectation.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Provenance :</strong></td>
                                <td>{{ colonnie.provenanceColonnie.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Etat :</strong></td>
                                <td>{{ colonnie.etat.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Agressivité :</strong></td>
                                <td>{{ colonnie.agressivite.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Année de la reine :</strong></td>
                                <td>{{ colonnie.anneeReine|date("Y") }}</td>
                            </tr>
                            <tr>
                                <td><strong>Provenance de la reine :</strong></td>
                                <td>{{ colonnie.provenanceReine.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Marquage :</strong></td>
                                <td>{{ colonnie.marquage.libelle }}</td>
                            </tr>
                            <tr>
                                <td><strong>Clippage :</strong></td>
                                <td>{% if colonnie.clippage %} Oui {% else %} Non {% endif %}</td>
                            </tr>
                        </tbody>
                  </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">              
            <div class="row">
                <div class="col-md-12">
                <a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_colonnie', { 'colonnie_id' : colonnie.id }) }}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                {% if not colonnie.morte %}
                    <span class="pull-right">
                            <a title="Enrucher" href="{{ path('kg_beekeeping_management_enrucher_colonnie', { 'colonnie_id': colonnie.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-download-alt"></i></a>
                            <a title="Diviser" href="{{ path('kg_beekeeping_management_diviser_colonnie', { 'colonnie_id' : colonnie.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-scissors"></i></a>
                            <a title="Editer" href="{{ path('kg_beekeeping_management_update_colonnie', { 'colonnie_id' : colonnie.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a title="Déclarer mort" href="{{ path('kg_beekeeping_management_tuer_colonnie', { 'colonnie_id' : colonnie.id }) }}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-minus-sign"></i></a>
                    </span>
                {% endif %}
                </div>                           
            </div>
        </div>       
    </div>                        
{% endblock %}