{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/selects/select2.min.js'
        'assets/js/plugins/forms/styling/uniform.min.js'
        'assets/js/plugins/uploaders/fileinput.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/ruche/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>                   
    {% endjavascripts %}
    {{ form_javascript(form) }}    
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Rucher:cover.html.twig' with {'rucher' : emplacement.rucher} only %} 
{% endblock %} 
    
{% block body %}
    <!-- 2 columns form -->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Création d'une ruche</h5>
            </div>

            <div class="panel-body"> 
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-archive position-left"></i> Ruche</legend>
                            
                            <div class="form-group">
                                {{ form_label(form.nom, 'Nom :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.nom) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>  

                            <div class="form-group">
                                {{ form_label(form.matiere, 'Matière :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.matiere) }}
                                    {{ form_errors(form.matiere) }}
                                </div>
                            </div>  

                            <div class="form-group">
                                {{ form_label(form.corps.type, 'Type :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.corps.type) }}
                                    {{ form_errors(form.corps.type) }}
                                </div>
                            </div>  

                            <div class="form-group">
                                {{ form_label(form.corps.nbcadres, 'Nombre de cadres :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.corps.nbcadres) }}
                                    {{ form_errors(form.corps.nbcadres) }}
                                </div>
                            </div> 
                                
                            <div class="form-group">
                                {{ form_label(form.image.file, 'Photo :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.image.file, { 'attr': {'class': 'file-input-custom', 'data-show-caption': 'true', 'data-show-upload': 'true', 'accept': 'image/*'} }) }}
                                    {{ form_errors(form.image.file) }}
                                </div>                                
                            </div>                                
                            
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-users position-left"></i> Colonie</legend>
                            {% for remerage in form.colonie.remerages %}
                                <div class="form-group">
                                    {{ form_label(remerage.reine.race, 'Race :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                    <div class="col-lg-8">
                                        {{ form_widget(remerage.reine.race) }}
                                        {{ form_errors(remerage.reine.race) }}
                                    </div>
                                </div>                                 
                            {% endfor %}
                            
                            <div class="form-group">
                                {{ form_label(form.colonie.origineColonie, 'Origine :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.colonie.origineColonie) }}
                                    {{ form_errors(form.colonie.origineColonie) }}
                                </div>
                            </div>                                                           
                                
                            <div class="form-group">
                                {{ form_label(form.colonie.dateColonie, 'Date de naissance :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        {{ form_widget(form.colonie.dateColonie) }}
                                    </div>
                                    {{ form_errors(form.colonie.dateColonie) }}
                                </div>
                            </div>                                   

                            <div class="form-group">
                                {{ form_label(form.colonie.affectation, 'Affectation :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.colonie.affectation) }}
                                    {{ form_errors(form.colonie.affectation) }}
                                </div>
                            </div>  
                                
                            <div class="form-group">
                                {{ form_label(form.corps.nbnourriture, 'Cadres de nourriture :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.corps.nbnourriture) }}
                                    {{ form_errors(form.corps.nbnourriture) }}
                                </div>
                            </div> 
                                
                            <div class="form-group">
                                {{ form_label(form.corps.nbcouvain, 'Cadres de couvain :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.corps.nbcouvain) }}
                                    {{ form_errors(form.corps.nbcouvain) }}
                                </div>
                            </div> 
    
                        </fieldset>

                        <fieldset>
                            <legend class="text-semibold"><i class="icon-crown position-left"></i> Reine</legend>
                            {% for remerage in form.colonie.remerages %}
                                <div class="form-group">
                                    {{ form_label(remerage.reine.anneeReine, 'Année :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {{ form_widget(remerage.reine.anneeReine) }}    
                                        </div>
                                        {{ form_errors(remerage.reine.anneeReine) }}
                                    </div>
                                </div>                                       

                                <div class="form-group pt-15">
                                    <div class="col-lg-6">                 
                                        {{ form_widget(remerage.reine.marquage, {'attr': {'class': 'checkbox styled'}}) }} 
                                        {{ form_label(remerage.reine.marquage, 'Marquée') }}
                                        {{ form_errors(remerage.reine.marquage) }}
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        {{ form_widget(remerage.reine.clippage, {'attr': {'class': 'checkbox checkbox-right styled'}}) }}        
                                        {{ form_label(remerage.reine.clippage, 'Clippée') }}
                                        {{ form_errors(remerage.reine.clippage) }}
                                    </div>
                                </div> 
                            {% endfor %}                                                                 
                        </fieldset>                                
                    </div>
                </div>
                                                                                                                     
                {{ form_rest(form) }}
                
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    <!-- /2 columns form -->      

{% endblock %}