{# src/KG/BeekeepingManagementBundle/Resources/views/Ruche/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/colonie/add.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>                   
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block ruchers %}{{ emplacement.rucher.nom }}{% endblock %}

{% block title %}{{ parent() }} - Créer une ruche{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Création d'une colonie</h4>
        </div>
    </div>
{% endblock %}
    
{% block panel_body %}
              
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}
        
    <fieldset> 
        <legend>Ruche</legend>
        {{ form_row(form.nom, {'label': 'Nom de la ruche :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.matiere, {'label': 'Matière :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.corps.type, {'label': 'Type :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.corps.nbcadres, {'label': 'Nombre de cadres :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.image.file, {'label': 'Photo :', 'label_col': 4, 'widget_col': 5})  }}
    </fieldset>

    <fieldset>
        <legend>Colonie</legend>
        {{ form_row(form.colonie.reine.race, {'label': 'Race :', 'label_col': 4, 'widget_col': 5})  }}        
        {{ form_row(form.colonie.origineColonie, {'label': 'Origine :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.colonie.dateColonie, {'label': 'Année :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.colonie.affectation, {'label': 'Affectation :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.colonie.etat, {'label': 'Etat :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.corps.nbnourriture, {'label': 'Cadres de nourriture :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.corps.nbcouvain, {'label': 'Cadres de couvain :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.colonie.agressivite, {'label': 'Agressivité :', 'label_col': 4, 'widget_col': 5})  }}
    </fieldset>
        
    <fieldset>
        <legend>Reine</legend>
        {{ form_row(form.colonie.reine.anneeReine, {'label': 'Année :', 'label_col': 4, 'widget_col': 5})  }}
        <div class="row">
            <div class="col-md-offset-4 col-md-6">            
                {{ form_row(form.colonie.reine.marquage, {'attr': {'data-label-text' : "Marquage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                {{ form_row(form.colonie.reine.clippage, {'attr': {'data-label-text' : "Clippage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
            </div>
        </div>             
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}