{# src/KG/BeekeepingManagementBundle/Resources/views/Rucher/add.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une ruche{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block screen %}
    <strong>{{ rucher.exploitation.nom }}</strong>  
    <hr>    
    
    {{ form_errors(form.nom) }}
    {{ form_errors(form.type) }}
    {{ form_errors(form.image.file) }}
    {{ form_errors(form) }}
             
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="panel-title">Création d'une ruche</h3>
                </div>
            </div>
        </div>

        <div class="panel-body">                
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.nom, "Nom de la ruche :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    
            </div>
                    
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.nom, "Type de ruche :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-5 col-md-5">
                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    
            </div>
                    
            <div class="row">        
                <div class="form-group">
                    {{ form_label(form.image.file, "Photo :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
                    <div class="col-sm-2 col-md-2">
                        {{ form_widget(form.image.file) }}
                    </div>
                </div>
            </div>
            
            <div class="row">    
                {{ form_rest(form) }}

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="pull-right">
                            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                                Annuler
                            </a>

                            <button type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>        
                </div>
            </div>
                                
            {{ form_end(form) }}         
        </div>       
    </div>

{% endblock %}