{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une ruche{% endblock %}

{% block ruchers %}{{ ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Modification de la ruche {{ ruche.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}
                          
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}

        {{ form_row(form.nom, {'label': 'Nom de la ruche :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.image.file, {'label': 'Photo :', 'label_col': 4, 'widget_col': 5})  }}

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}