{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/selects/select2.min.js'
        'assets/js/plugins/forms/styling/uniform.min.js'
        'assets/js/plugins/uploaders/fileinput.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/ruche/update.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>                   
    {% endjavascripts %}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : ruche} only %}
{% endblock %}

{% block toolbar %}
    {% include 'KGBeekeepingManagementBundle:Ruche:toolbarBack.html.twig' with {'ruche' : ruche} only %}                  
{% endblock %}

{% block body %}
    <!-- 2 columns form -->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Modification d'une ruche</h5>
            </div>

            <div class="panel-body"> 
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-archive position-left"></i> Ruche</legend>
                            
                            <div class="form-group">
                                {{ form_label(form.colonie.ruche.nom, 'Nom :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.colonie.ruche.nom) }}
                                    {{ form_errors(form.colonie.ruche.nom) }}
                                </div>
                            </div>  
                                
                            <div class="form-group">
                                {{ form_label(form.colonie.ruche.image.file, 'Photo :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.colonie.ruche.image.file, { 'attr': {'class': 'file-input-custom', 'data-show-caption': 'true', 'data-show-upload': 'true', 'accept': 'image/*'} }) }}
                                    {{ form_errors(form.colonie.ruche.image.file) }}
                                </div>                                
                            </div>                                
                            
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="fa fa-users position-left"></i> Colonie</legend>                              

                            <div class="form-group">
                                {{ form_label(form.colonie.affectation, 'Affectation :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                <div class="col-lg-8">
                                    {{ form_widget(form.colonie.affectation) }}
                                    {{ form_errors(form.colonie.affectation) }}
                                </div>
                            </div>      
                        </fieldset>

                        <fieldset>
                            <legend class="text-semibold"><i class="icon-crown position-left"></i> Reine</legend>
                                <div class="form-group pt-15">
                                    <div class="col-lg-6">                 
                                        {{ form_widget(form.reine.marquage, {'attr': {'class': 'checkbox styled'}}) }} 
                                        {{ form_label(form.reine.marquage, 'Marquée') }}
                                        {{ form_errors(form.reine.marquage) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_widget(form.reine.clippage, {'attr': {'class': 'checkbox checkbox-right styled'}}) }}        
                                        {{ form_label(form.reine.clippage, 'Clippée') }}
                                        {{ form_errors(form.reine.clippage) }}
                                    </div>
                                </div>                                                                                               
                        </fieldset>                                
                    </div>
                </div>
                                                                                                                     
                {{ form_rest(form) }}
                
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    <!-- /2 columns form -->          
{% endblock %}