{# src/KG/BeekeepingManagementBundle/Resources/views/Ruche/update.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Créer une ruche{% endblock %}

{% block ruchers %}{{ ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Modification de la ruche {{ ruche.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}
                          
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}

        {{ form_row(form.nom, {'label': 'Nom de la ruche :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.image.file, {'label': 'Photo :', 'label_col': 4, 'widget_col': 5})  }}

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}