{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ruche{% endblock %}

{% block menu %}
    {% set colonie = ruche.colonie %}
    {% include 'KGBeekeepingManagementBundle::menuRuche.html.twig' %}
{% endblock menu %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Données de la ruche</h4>
        </div>
    </div>
{% endblock %}
{% block panel_body %}         
    <div class="row">
        <div class="col-sm-4" align="center"> 
            {% if ruche.image is not null %}
                <img src="{{ asset(ruche.image.webPath) }}" alt="{{ ruche.image.alt }}" class="img-thumbnail img-responsive">
            {% else %}
                <img src="{{ asset('img/ruche/' ~ ruche.corps.type.libelle ~'.jpg') }}" alt="Photo par défaut" class="img-thumbnail img-responsive">
            {% endif %}       
        </div>         
        <div class="col-sm-8">
            <table class="table">  
                <tbody>                               
                    <tr>
                        <td><strong>Type</strong></td>
                        <td>{{ ruche.corps.type.libelle }} {{ ruche.corps.nbcadres }}</td>
                    </tr>
                    <tr>
                        <td><strong>Matière</strong></td>
                        <td>{{ ruche.matiere.libelle }}</td>
                    </tr>
                    {% if ruche.emplacement and ruche.rucher.numerotation %}
                    <tr>
                        <td><strong>Numéro emplacement</strong></td>
                        <td>{{ ruche.emplacement.numero }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Affectation</strong></td>
                        <td>{{ ruche.colonie.affectation.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Cadres nourriture</strong></td>
                        <td>{{ ruche.corps.nbnourriture }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Cadres couvain</strong></td>
                        <td>{{ ruche.corps.nbcouvain }}</td>
                    </tr>
                    {% if ruche.colonie.visites is not empty %}
                    <tr>
                        <td><strong>Poids (kg)</strong></td>
                        <td>{{ ruche.colonie.visites|last.poids }}</td>
                    </tr>
                    {% endif %}
                    {% for hausse in ruche.hausses %}
                    <tr>
                        <td><strong>Hausse n°{{ loop.index }}</strong> (cadres pleins/nombre cadres)</td>
                        <td>({{ hausse.nbplein }}/{{ hausse.nbcadres }})</td>
                    </tr>                        
                    {% endfor %}    
                </tbody>
            </table>
        </div>                 
    </div>  
                    
                                   
    <hr>

    <h4>Tâches à faire :</h4>
    {% if pagination is not empty %}       
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Date', 'tache.date') }}
                            {% if pagination.isSorted('tache.date') %}
                                 {{ icon('sort-' ~ pagination.direction('tache.date')) }}
                            {% endif %}   
                        </th>
                        <th>Priorité</th>
                        <th>Résumé</th>
                    </thead>
                    <tbody>
                        {% for tache in pagination %}
                            <tr>
                                <td>{{ tache.date|date('d/m/Y') }}</td>
                                <td>{{ tache.priorite.libelle }}</td>
                                <td>{{ tache.resume }}</td>                             
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div> 
            </div>                            
        </div>
    </div>    
    {% else %}    
    <div class="row">
        <div class="col-md-12" align="center">      
            Pas de tâche en attente.
        </div>
    </div>          
    {% endif %}                     
{% endblock %}