{# src/KG/BeekeepingManagementBundle/Resources/views/Ruche/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Ruche{% endblock %}

{% block ruchers %}{{ ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            <h4>Ruche {{ ruche.nom }}</h4>
        </div>
        <div class="col-xs-6">
            <span class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Menu
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a title="Modifier la ruche" href="{{ path('kg_beekeeping_management_update_ruche', { 'ruche_id' : ruche.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Modifier la ruche</a></li>
                        {%if ruche.colonie and ruche.emplacement %}
                            {% if pagination is not empty %}
                                {% set lastVisite = pagination|last %}
                                {% if lastVisite.date|date('Y-m-d') < "now"|date('Y-m-d') %}
                                    <li><a title="Créer une visite" href="{{ path('kg_beekeeping_management_add_visite', { 'colonie_id' : ruche.colonie.id }) }}"><i class="glyphicon glyphicon-plus"></i> Créer une visite</a></li>
                                {% endif %}
                            {% else %}
                            <li><a title="Créer une visite" href="{{ path('kg_beekeeping_management_add_visite', { 'colonie_id' : ruche.colonie.id }) }}"><i class="glyphicon glyphicon-plus"></i> Créer une visite</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a title="Transhumer" href="{{ path('kg_beekeeping_management_add_transhumance', { 'colonie_id' : ruche.colonie.id }) }}"><i class="glyphicon glyphicon-plane"></i> Transhumer</a></li>
                        {% if ruche.colonie.transhumances is not empty %}
                            <li><a title="Historique des transhumances" href="{{ path('kg_beekeeping_management_view_transhumances', { 'colonie_id' : ruche.colonie.id }) }}"><i class="glyphicon glyphicon-list"></i> Historique des transhumances</a></li>
                        {% endif %}
                    </ul>
                </div> 
            </span>
        </div>
    </div>    
{% endblock %}


{% block panel_body %} 
    <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> 
            {% if ruche.image is not null %}
                <img src="{{ asset(ruche.image.webPath) }}" alt="{{ ruche.image.alt }}" class="img-thumbnail img-responsive">
            {% else %}
                <img src="../../../../../../no_picture.png" alt="logo" class="img-thumbnail img-responsive">
            {% endif %}           
        </div>
        <div class=" col-md-5 col-lg-5 ">
            <h4>Descriptif</h4>
            <table class="table">  
                <tbody>
                    <tr>
                        <td><strong>Rucher</strong></td>
                        <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': ruche.emplacement.rucher.id }) }}">{{ ruche.emplacement.rucher.nom }}</a></td>
                    </tr>                                  
                    <tr>
                        <td><strong>Type</strong></td>
                        <td>{{ ruche.corps.type.libelle }} {{ ruche.corps.soustype.nbcadres }}</td>
                    </tr>
                    <tr>
                        <td><strong>Matière</strong></td>
                        <td>{{ ruche.matiere.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>% de soleil</strong></td>
                        <td>{{ ruche.emplacement.soleil }}</td>
                    </tr>
                    <tr>
                        <td><strong>Orientation</strong></td>
                        <td>{{ ruche.emplacement.orientation.libelle }}</td>
                    </tr>                   
                </tbody>
            </table>
        </div>            
        <div class=" col-md-4 col-lg-4 ">            
            <h4><a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': ruche.colonie.id }) }}">Colonnie</a></h4>                          
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Race</strong></td>
                        <td>{{ ruche.colonie.reine.race.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Affectation</strong></td>
                        <td>{{ ruche.colonie.affectation.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Etat</strong></td>
                        <td>{{ ruche.colonie.etat.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Cadres de nourriture</strong></td>
                        <td>{{ ruche.corps.nbnourriture }}</td>
                    </tr>   
                    <tr>
                        <td><strong>Cadres de couvain</strong></td>
                        <td>{{ ruche.corps.nbcouvain }}</td>
                    </tr>                        
                </tbody>
            </table>                                  
        </div> 
    </div> 

    <hr>

    <div class="row">    
        <div class=" col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hausses
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                    {% for hausse in ruche.hausses|reverse %}
                        <li class="list-group-item">
                            <div class="progress">
                              {% set pourcent = ( hausse.nbplein * 100 ) / ( hausse.nbcadres ) %}
                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ pourcent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcent }}%;">
                                <span class="sr-only">Miel</span>
                              </div>
                            </div>                                    
                        </li>                                       
                    {% endfor %}
                    </ul>
                    <span class="label label-warning">Miel</span>
                </div>
            </div>
        </div>    
    </div> 

    <hr>

    <div class="row">    
        <div class=" col-md-12">         
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Visite</th>
                        <th>Activite</th>
                        <th>Etat</th>
                        <th>Cadres nourriture</th>
                        <th>Cadres couvain</th>
                        <th>Cellules royales</th>
                        <th>Nourrissement</th>
                        <th>Traitement</th>
                        <th></th>
                    </thead>
                    <tbody> 
                        {% for visite in pagination %}
                            <tr>
                                <td><a title="Afficher la visite" href="{{ path('kg_beekeeping_management_view_visite', { 'visite_id': visite.id }) }}">{{ visite.date|date('d/m/Y') }}</a></td>
                                <td>{{ visite.activite.libelle }}</td>
                                <td>{{ visite.etat.libelle }}</td>
                                <td>{{ visite.nbnourriture }}</td>
                                <td>{{ visite.nbcouvain }}</td>
                                <td>{% if visite.celroyales %}Oui{% else %}Non{% endif %}</td>
                                <td>{% if visite.nourrissement %}Oui{% else %}Non{% endif %}</td>
                                <td>{% if visite.traitement %}Oui{% else %}Non{% endif %}</td>
                                <td>{% if loop.first and pagination.getCurrentPageNumber == 1 %}<a title="Editer" href="{{ path('kg_beekeeping_management_update_visite', { 'visite_id' : visite.id }) }}" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>{% endif %}</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                </table>                
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div>  
            </div>                         
        </div>
    </div>            
{% endblock %}