{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/loaders/progressbar.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>          
    {% endjavascripts %}
{% endblock %}

{% block cover %}
    <div class="profile-cover">
        {% if ruche.rucher.image is not null %}
            <div class="profile-cover-img" style="background-image: url({{ asset(ruche.rucher.image.webPath) }})"></div>
        {% else %}
            <div class="profile-cover-img" style="background-image: url({{ asset("img/rucher.jpg") }})"></div>
        {% endif %}    
        <div class="media">
            <div class="media-left">
                <a href="#" class="profile-thumb">
                    {% if ruche.image is not null %}
                        <img src="{{ asset(ruche.image.webPath) }}" alt="{{ ruche.image.alt }}" class="img-circle">
                    {% else %}
                        <img src="{{ asset('img/ruche/' ~ ruche.corps.type.libelle ~'.jpg') }}" alt="Photo par défaut" class="img-circle">
                    {% endif %}                       
                </a>
            </div>

            <div class="media-body">
                <h1>Rucher {{ ruche.rucher.nom }} <small class="display-block">Ruche {{ ruche.nom }}</small></h1>
            </div>
            
            <div class="media-right media-middle">
                <ul class="list-inline list-inline-condensed no-margin-bottom text-nowrap">
                    {% if ruche.colonie.canHaveNewVisite %}
                        <li><a href="{{ path('kg_beekeeping_management_add_visite', { 'colonie_id': ruche.colonie.id }) }}" class="btn btn-default"><i class="fa fa-plus"></i> Créer une visite</a></li>
                    {% endif %}

                    {% if ruche.colonie.canHaveNewTache %}
                        <li><a href="{{ path('kg_beekeeping_management_add_tache', { 'colonie_id': ruche.colonie.id }) }}" class="btn btn-default"><i class="fa fa-plus"></i> Créer une tâche</a></li>
                    {% endif %}                    
                </ul>
            </div>            
        </div>
    </div>
{% endblock %}
    
{% set colonie = ruche.colonie %}
{% set reine = colonie.remerages|last.reine %}
{% set visite = colonie.visites|last %}
    
{% block toolbar %}
    <div class="navbar navbar-default navbar-xs content-group">
        <ul class="nav navbar-nav visible-xs-block">
            <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-filter">
            <ul class="nav navbar-nav element-active-slate-400">
                <li class="active">
                {% if visite %}
                    <a href="#lastvisite" data-toggle="tab"><i class="icon-clipboard position-left"></i> Dernière visite</a></li>
                    <li>                   
                {% endif %}
                <a href="#taches" data-toggle="tab"><i class="fa fa-tasks position-left"></i> Tâches</a></li>
                <li><a href="#infos" data-toggle="tab"><i class="icon-profile position-left"></i> Détails</a></li>
            </ul>             
            
            <div class="navbar-right">
                <ul class="nav navbar-nav">     
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            {% if ruche.colonie.visites is not empty %}
                                <li><a href="{{ path('kg_beekeeping_management_update_visite', { 'visite_id': ruche.colonie.visites|last.id }) }}" class="btn btn-default"><i class="fa fa-pencil"></i> Modifier la dernière visite</a></li>
                            {% endif %}                                
                            {% if not colonie.morte %}
                                <li><a href="{{ path('kg_beekeeping_management_update_ruche', { 'ruche_id': ruche.id }) }}"><i class="fa fa-pencil"></i> Modifier la ruche</a></li>
                                <li><a href="{{ path('kg_beekeeping_management_add_remerage', { 'colonie_id': colonie.id }) }}"><i class="fa fa-refresh"></i> Remérer</a></li>
                                <li><a href="{{ path('kg_beekeeping_management_tuer_colonie', { 'colonie_id': colonie.id }) }}"><i class="fa fa-heartbeat"></i> Déclarer morte</a></li>
                            {% endif %}
                            {% if ruche.hausses is not empty %}
                                <li><a href="{{ path('kg_beekeeping_management_add_recolte', { 'colonie_id': colonie.id }) }}"><i class="fa fa-upload"></i> Récolter</a></li>
                            {% endif %}
                            {% if not colonie.morte and ruche.rucher.exploitation.getNbEmplacementsVides > 0 %}
                                <li><a href="{{ path('kg_beekeeping_management_add_transhumance', { 'colonie_id': colonie.id }) }}"><i class="fa fa-exchange"></i> Transhumer</a></li>
                            {% endif %}
                            {% if colonie.canBeDivisee %}
                                <li><a href="{{ path('kg_beekeeping_management_diviser_colonie', { 'colonie_id': colonie.id }) }}"><i class="fa fa-scissors"></i> Récolter</a></li>
                            {% endif %}                                
                            {% if not colonie.hasFille %}
                                <li class="divider"></li>
                                <li><a href="{{ path('kg_beekeeping_management_delete_colonie', { 'colonie_id': colonie.id }) }}"><i class="fa fa-trash"></i> Supprimer la ruche</a></li>
                            {% endif %}
                        </ul>
                    </li>  
                </ul>
            </div>
        </div>
    </div>                      
{% endblock %} 

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="tabbable">
                <div class="tab-content">  
                    {% if visite %}
                        <div class="tab-pane fade in active" id="lastvisite">
                            <div class="col-md-12">
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">Dernière visite</h5>             
                                    </div>
                                    <div class="panel-body">  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6 class="text-semibold"><i class="fa fa-stethoscope position-left"></i> Etat général</h6>
                                                <div class="well">
                                                    <dl class="dl-horizontal">     
                                                        <dt>Activité</dt>
                                                        <dd>{{ visite.activite.libelle }}</dd>
                                                        <dt>Pollen entrant</dt>
                                                        <dd>{% if visite.pollen %}Oui{% else %}Non{% endif %}</dd>
                                                        <dt>Reine vue</dt>
                                                        <dd>{% if visite.reine %}Oui{% else %}Non{% endif %}</dd>
                                                        <dt>Cellules royales</dt>
                                                        <dd>{% if visite.celroyales %}Oui{% else %}Non{% endif %}</dd>
                                                        <dt>Etat</dt>
                                                        <dd>{{ visite.etat.libelle }}</dd>
                                                        <dt>Agressivité</dt>
                                                        <dd>{{ visite.agressivite.libelle }}</dd>
                                                        <dt>Cadres de nourriture</dt>
                                                        <dd>{{ visite.nbnourriture }}</dd>
                                                        <dt>Cadres de couvain</dt>
                                                        <dd>{{ visite.nbcouvain }}</dd>  
                                                        <dt>Poids (kg)</dt>
                                                        <dd>{{ visite.poids|number_format(3, ',', ' ') }}</dd> 
                                                    </dl>
                                                </div>
                                            </div>

                                            <div class="col-md-6"> 
                                                <h6 class="text-semibold"><i class="fa fa-info position-left"></i> Informations complémentaires</h6>
                                                <div class="well">
                                                    {% if visite.nourrissement or visite.traitement or visite.observations %}
                                                        <dl class="dl-horizontal">  
                                                            {% if visite.nourrissement %}
                                                                <dt>Nourrissement</dt>
                                                                <dd>{{ visite.nourrissement }}</dd>                                    
                                                            {% endif %}
                                                            {% if visite.traitement %}
                                                                <dt>Traitement</dt>
                                                                <dd>{{ visite.traitement }}</dd>
                                                            {% endif %}
                                                            {% if visite.observations %}
                                                                <dt>Observations</dt>
                                                                <dd>{{ visite.observations }}<dd>
                                                            {% endif %}         
                                                        </dl>
                                                    {% else %}
                                                        <center>Aucune</center>
                                                    {% endif %}
                                                </div>  

                                                <h6 class="text-semibold"><i class="fa fa-tasks position-left"></i> Tâches effectuées</h6>
                                                <div class="well">
                                                    {% if visite.taches is empty %}
                                                        <center>Aucune</center>
                                                    {% else %}    
                                                        <dl class="dl-horizontal"> 
                                                            {% for tache in visite.taches %}
                                                                <dt>Résumé</dt>
                                                                <dd>{ tache.resume }} <a title="Afficher la tâche" href="{{ path('kg_beekeeping_management_view_tache', { 'tache_id': tache.id }) }}" class="btn btn-success btn-xs"></a></dd>
                                                            {% endfor %}                                     
                                                        </dl> 
                                                    {% endif %}
                                                </div>                                                                                          
                                            </div>   
                                        </div>

                                        <div class="row"> 
                                            <div class="col-md-12">
                                                <h6 class="text-semibold"><i class="fa fa-download position-left"></i> Hausses</h6>
                                                <div class="well">
                                                    {% if visite.hausses is not empty %}
                                                        {% for hausse in visite.hausses %}
                                                            <div class="row"> 
                                                                <div class="col-md-12"> 
                                                                    <div class="content-group-sm">
                                                                        <p class="text-semibold"><strong>Hausse n°{{ loop.index }}</strong></p>
                                                                        <div class="progress progress-lg">
                                                                            {% set pourcent = ( hausse.nbplein * 100 ) / ( hausse.nbcadres ) %}
                                                                            <div class="progress-bar bg-teal" style="width: {{ pourcent }}%">
                                                                                {{ hausse.nbplein }}/{{ hausse.nbcadres }}
                                                                            </div>
                                                                        </div>
                                                                    </div>                                
                                                                </div>
                                                            </div>                
                                                        {% endfor %}  
                                                    {% else %}
                                                        <center>Aucune</center> 
                                                    {% endif %}    
                                                </div>       
                                            </div>                                              
                                        </div>       
                                    </div>
                                </div>                           
                            </div>
                        </div>                                                                     
                    {% endif %}   
                    
                    <div class="tab-pane fade {% if not visite %}in active{% endif %}" id="taches">             
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">   
                                        <div class="panel panel-flat">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">Listes des tâches</h5>
                                            </div>

                                            <div class="panel-body">
                                                <h4>Tâches à faire :</h4>
                                                {% if pagination is not empty %}       
                                                <div class="row">
                                                    <div class=" col-md-12"> 
                                                        <div class="table-responsive">
                                                            <table id="mytable" class="table table-bordred table-striped">
                                                                <thead>
                                                                    <th>
                                                                        {{ knp_pagination_sortable(pagination, 'Date prévisionnelle', 'tache.date') }}
                                                                        {% if pagination.isSorted('tache.date') %}
                                                                             {{ icon('sort-' ~ pagination.direction('tache.date')) }}
                                                                        {% endif %}   
                                                                    </th>
                                                                    <th>Priorité</th>
                                                                    <th>Résumé</th>
                                                                    <th>Afficher</th>
                                                                </thead>
                                                                <tbody>
                                                                    {% for tache in pagination %}
                                                                        <tr>
                                                                            <td>{{ tache.date|date('d/m/Y') }}</td>
                                                                            <td>{{ tache.priorite.libelle }}</td>
                                                                            <td>{{ tache.resume }}</td>
                                                                            <td><a title="Afficher la tâche" href="{{ path('kg_beekeeping_management_view_tache', { 'tache_id': tache.id }) }}" class="btn btn-success btn-xs">{{ icon('eye') }}</a></td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 navigation" align="right">
                                                                {{ knp_pagination_render(pagination) }}
                                                            </div> 
                                                        </div>                            
                                                    </div>
                                                </div>    
                                                {% else %}    
                                                <div class="row">
                                                    <div class="col-md-12" align="center">      
                                                        Pas de tâche en attente.
                                                    </div>
                                                </div>          
                                                {% endif %} 
                                            </div>    
                                        </div>     
                                    </div>
                                </div>                               
                            </div>    
                        </div>     
                    </div> 
                    
                    <div class="tab-pane fade" id="infos">    
                        <div class="row">   
                            <div class="col-md-12">
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">Détails</h5>             
                                    </div>
                                    <div class="panel-body">  
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 class="text-semibold"><i class="fa fa-archive position-left"></i> Ruche</h6>
                                                <div class="well">
                                                    <dl class="dl-horizontal">                             
                                                        <dt>Type</dt>
                                                        <dd>{{ ruche.corps.type.libelle }} {{ ruche.corps.nbcadres }}</dd>
                                                        <dt>Matière</dt>
                                                        <dd>{{ ruche.matiere.libelle }}</dd>
                                                        {% if ruche.emplacement and ruche.rucher.numerotation %}
                                                            <dt>Numéro emplacement</dt>
                                                            <dd>{{ ruche.emplacement.numero }}</dd>
                                                        {% endif %}
                                                        <dt>Affectation</dt>
                                                        <dd>{{ ruche.colonie.affectation.libelle }}</dd>
                                                        <dt>Cadres nourriture</dt>
                                                        <dd>{{ ruche.corps.nbnourriture }}</dd>
                                                        <dt>Cadres couvain</dt>
                                                        <dd>{{ ruche.corps.nbcouvain }}</dd>
                                                        {% if ruche.colonie.visites is not empty %}
                                                            <dt>Poids (kg)</dt>
                                                            <dd>{{ ruche.colonie.visites|last.poids|number_format(3, ',', ' ') }}</dd>
                                                        {% endif %}
                                                    </dl>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">    
                                                <h6 class="text-semibold"><i class="fa fa-users position-left"></i> Colonie</h6>
                                                <div class="well">
                                                    <dl class="dl-horizontal">  
                                                        <dt>Numéro</dt>
                                                        <dd>{{ colonie.numero }}</dd>
                                                        <dt>Race</dt>
                                                        <dd>{{ reine.race.libelle }}</dd>
                                                        <dt>Date de naissance</dt>
                                                        <dd>{{ colonie.dateColonie|date("m/Y") }}</dd>
                                                        <dt>Origine</dt>
                                                        <dd>{{ colonie.origineColonie.libelle }}</dd>
                                                    {% if colonie.visites is not empty %}
                                                        <dt>Etat</dt>
                                                        <dd>{{ colonie.visites|last.etat.libelle }}</dd>
                                                        <dt>Agressivité</dt>
                                                        <dd>{{ colonie.visites|last.agressivite.libelle }}</dd>  
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>                                              
                                                    
                                        <div class="row"> 
                                            <div class="col-sm-6">        
                                                {% set reine = colonie.remerages|last.reine %}
                                                <h6 class="text-semibold"><i class="icon-crown position-left"></i> Reine</h6>
                                                <div class="well">
                                                    <dl class="dl-horizontal">  
                                                        <dt>Année</dt>
                                                        <dd>{% if reine.anneeReine %}{{ reine.anneeReine|date("Y") }}{% else %}Inconnue{% endif %}</dd>
                                                        <dt>Marquage</dt>
                                                        <dd>                                   
                                                            {% if reine.marquage and reine.anneeReine %}
                                                                {% set annee = reine.anneeReine|date("Y")|last %}
                                                                {% if annee == 0 or annee == 5 %}{% set marquage = 'Bleu' %}{% endif %}
                                                                {% if annee == 1 or annee == 6 %}{% set marquage = 'Blanc' %}{% endif %}
                                                                {% if annee == 2 or annee == 7 %}{% set marquage = 'Jaune' %}{% endif %}
                                                                {% if annee == 3 or annee == 8 %}{% set marquage = 'Rouge' %}{% endif %}
                                                                {% if annee == 4 or annee == 9 %}{% set marquage = 'Vert' %}{% endif %}
                                                            {% else %}    
                                                                {% set marquage = 'Aucun' %}
                                                            {% endif %}
                                                            {{ marquage }}
                                                        </dd>
                                                        <dt>Clippage</dt>
                                                        <dd>{% if reine.clippage %} Oui {% else %} Non {% endif %}</dd>                                                   
                                                    </dl>
                                                </div>    
                                            </div>  
                                                    
                                            <div class="col-sm-6">
                                                <h6 class="text-semibold"><i class="icon-tree7 position-left"></i> Lignée</h6>
                                                <div class="well">
                                                    <dl class="dl-horizontal">  
                                                        <dt>Colonie mère</dt>
                                                        <dd>
                                                            {% if reine.reineMere %}
                                                                <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': reine.reineMere.remerage.colonie.id }) }}">{{ reine.reineMere.remerage.colonie.numero }}</a>
                                                            {% else %}
                                                                Inconnue
                                                            {% endif %}
                                                        </dd>
                                                        {% set long = reine.reinesFilles|length %}
                                                        <dt>Colonie{% if long > 1 %}s{% endif %} fille{% if long > 1 %}s{% endif %}</dt>
                                                        <dd>
                                                            {% if reine.reinesFilles is empty %}
                                                                Aucune
                                                            {% endif %}
                                                            {% for reineFille in reine.reinesFilles %}
                                                                {% if not loop.first %}
                                                                    - 
                                                                {% endif %}
                                                                <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': reineFille.remerage.colonie.id }) }}">{{ reineFille.remerage.colonie.numero }}</a>
                                                            {% endfor %}
                                                        </dd>                                        
                                                    </dl> 
                                                </div>        
                                            </div>  
                                        </div> 
                                        
                                        <div class="row"> 
                                            <div class="col-sm-12">        
                                                <h6 class="text-semibold"><i class="fa fa-download position-left"></i> Hausses</h6>
                                                <div class="well">
                                                    {% if ruche.hausses is not empty %}
                                                        {% for hausse in ruche.hausses %}
                                                            <div class="row"> 
                                                                <div class="col-md-12"> 
                                                                    <div class="content-group-sm">
                                                                        <p class="text-semibold"><strong>Hausse n°{{ loop.index }}</strong></p>
                                                                        <div class="progress progress-lg">
                                                                            {% set pourcent = ( hausse.nbplein * 100 ) / ( hausse.nbcadres ) %}
                                                                            <div class="progress-bar bg-teal" style="width: {{ pourcent }}%">
                                                                                {{ hausse.nbplein }}/{{ hausse.nbcadres }}
                                                                            </div>
                                                                        </div>
                                                                    </div>                                
                                                                </div>
                                                            </div>                    
                                                        {% endfor %}  
                                                    {% else %}
                                                        <center>Aucune</center> 
                                                    {% endif %}    
                                                </div>    
                                            </div>                                                              
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                        </div>                                    
                    </div>
                </div>                           
            </div>
        </div>    
    </div>                                                                       
{% endblock %}