{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'https://www.google.com/jsapi'
        'assets/js/plugins/loaders/progressbar.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>      
        <script type="text/javascript">
            {{ gc_draw(getPoidsParVisite, 'div_linechart') }}
        </script>           
    {% endjavascripts %}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : ruche} only %}
{% endblock %}
    
{% set visite = ruche.colonie.visites|last %}
    
{% block toolbar %}
    {% include 'KGBeekeepingManagementBundle:Ruche:toolbar.html.twig' with {'colonie' : ruche.colonie} only %}    
{% endblock %} 

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="tabbable">
                <div class="tab-content">  
                    <div class="tab-pane fade in active" id="lastvisite">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if visite %}
                                    <!-- View visite -->
                                    {% include 'KGBeekeepingManagementBundle:Visite:includeView.html.twig' with {'visite' : visite} only %}                            
                                {% else %}
                                    <div class="well"><center>Aucune</center> </div>
                                {% endif %}    
                            </div>
                        </div>
                    </div>                                                                     
                    
                    
                    <div class="tab-pane fade" id="taches">             
                        <div class="row">
                            <div class="col-lg-12">
                                {% if taches %}
                                    <!-- Tasks grid -->
                                    {% include 'KGBeekeepingManagementBundle:Tache:includeView.html.twig' with {'taches' : taches} only %}                                
                                {% else %}
                                    <div class="well"><center>Aucune</center></div>
                                {% endif %}
                            </div>    
                        </div>       
                    </div>                    
                            
                    <div class="tab-pane fade" id="infos"> 
                        {% if ruche.colonie.morte %}
                            <div class="row">
                                <div class="col-lg-12">        
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h5><i class="fa fa-heartbeat"></i> Cette colonie est morte le {{ ruche.colonie.dateMort|date("d/m/Y") }}</h5>
                                        </div>

                                        <div class="panel-body">   
                                            <div class="row">
                                                <div class="col-lg-12"> 
                                                    Causes de la mort :
                                                    {% for cause in ruche.colonie.causes %}
                                                        {% if not loop.first %}
                                                            - 
                                                        {% endif %}
                                                        {{ cause.libelle }}
                                                    {% endfor %}

                                                    {% if ruche.colonie.causes is not empty and ruche.colonie.autreCause %}
                                                        -
                                                    {% endif %}
                                                    {{ ruche.colonie.autreCause }}
                                                </div> 
                                            </div> 
                                        </div> 
                                    </div>             
                                </div> 
                            </div>             
                        {% endif %}                         
                        <div class="row">   
                            <div class="col-lg-12">
                                <!-- View ruche -->
                                {% include 'KGBeekeepingManagementBundle:Ruche:includeView.html.twig' with {'ruche' : ruche} only %} 
                            </div>
                        </div>                                    
                    </div>
                            
                    <div class="tab-pane fade in active" id="poids">
                        <!-- Simple line chart -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Evolution du poids de la ruche</h5>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">                        
                                        <div class="chart-container">
                                           <div id="div_linechart"></div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <!-- /simple line chart -->
                    </div>                             
                </div>                           
            </div>
        </div>    
    </div>                                                                       
{% endblock %}