{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/selects/select2.min.js'
        'assets/js/plugins/forms/styling/uniform.min.js'
        'assets/js/plugins/forms/styling/switch.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/remerage/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : colonie.ruche} only %} 
{% endblock %} 

{% block body %}  
    
    <!-- Centered forms -->
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Création d'un remérage</h5>
                            </div>
                                
                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_label(form.date, 'Date du remérage :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {{ form_widget(form.date) }}                                        
                                        </div>
                                        {{ form_errors(form.date) }}
                                    </div>
                                </div>  
                                
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {{ form_row(form.naturel, {'attr': {'data-label-text' : "Type de remérage", 'data-off-color' : 'primary', 'data-on-text': "Naturel", 'data-off-text': 'Artificiel'}}) }}
                                    </div>
                                </div>                               
                                
                                <div id="artificiel" {% if form.vars.value.naturel %}style = 'display:none;'{% endif %}>
                                    <div class="form-group">
                                        {{ form_label(form.reine.anneeReine, 'Année de la reine :', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                {{ form_widget(form.reine.anneeReine) }}                                        
                                            </div>
                                            {{ form_errors(form.reine.anneeReine) }}
                                        </div>
                                    </div>  
                                        
                                    <div class="form-group">
                                        {{ form_label(form.reine.race, 'Race :*', { 'label_attr': {'class': 'col-lg-4'} }) }}
                                        <div class="col-lg-8">
                                            {{ form_widget(form.reine.race) }}
                                            {{ form_errors(form.reine.race) }}
                                        </div>
                                    </div>     
                                </div>

                                <div class="form-group pt-15">
                                    <div class="col-lg-6">                 
                                        {{ form_widget(form.reine.marquage, {'attr': {'class': 'checkbox styled'}}) }} 
                                        {{ form_label(form.reine.marquage, 'Marquée') }}
                                        {{ form_errors(form.reine.marquage) }}
                                    </div>

                                    <div class="col-lg-6">
                                        {{ form_widget(form.reine.clippage, {'attr': {'class': 'checkbox checkbox-right styled'}}) }}        
                                        {{ form_label(form.reine.clippage, 'Clippée') }}
                                        {{ form_errors(form.reine.clippage) }}
                                    </div>
                                </div> 
                
                                {{ form_rest(form) }}
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Remérer <i class="icon-arrow-right14 position-right"></i></button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- /form centered -->
{% endblock %}