{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Remérages de la ruche{% endblock %}

{% block ruchers %}{{ colonie.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Remérages de la colonie n°{{ colonie.numero }}</h4>
        </div>
    </div>    
{% endblock %}

{% block panel_body %}       
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Race</th>
                        <th>Année</th>
                        <th>Colonie mère</th>
                        <th>Colonies filles</th>
                    </thead>
                    <tbody>
                        {% for remerage in pagination %}
                            <tr>
                                <td>{{ remerage.date|date('d/m/Y') }}</td>
                                <td>{% if remerage.naturel %}Naturel{% else %}Artificiel{% endif %}</td>
                                <td>{{ remerage.reine.race.libelle }}</td>
                                <td>{{ remerage.reine.anneeReine|date("Y") }}</td>
                                <td>{% if remerage.reine.reineMere %}<a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': remerage.reine.reineMere.remerage.colonie.id }) }}">{{ remerage.reine.reineMere.remerage.colonie.numero }}</a>{% endif %}</td>
                                <td>
                                    {% for reineFille in remerage.reine.reinesFilles %}
                                        <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': reineFille.remerage.colonie.id }) }}">{{ reineFille.remerage.colonie.numero }}</a>
                                    {% endfor %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div> 
            </div>                            
        </div>
    </div>                                    
{% endblock %}