{# src/KG/SiteBundle/Resources/views/Accueil/index.html.twig #}

{% extends "KGSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        '@KGSiteBundle/Resources/public/css/business-frontpage.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}  

{% block body %}
   
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">CGU OpenHiveManager</h2>
            </div>
            <div class="col-lg-12">
                <h3>Mentions légales</h3>
                
                <h3>I. Préambule</h3>
                <p>En utilisant les services fournis par openhivemanager.org, ici désigné par OpenHiveManager, vous vous soumettez aux présentes conditions d'utilisation. Ici, "Loi" et "Lois" définissent la loi française ainsi que les lois en vigueur dans votre pays. Openhivemanager se réserve le droit de modifier ce texte sans préavis ni avertissement, vous êtes donc tenu de vous informer quant à la dernière version de celui-ci. En cas de non-respect des présentes conditions, votre compte utilisateur pourrait être bloqué ou supprimé sans possibilités de dédommagement. Openhivemanager est situé en France et se soumet donc au droit français. En vous inscrivant, vous vous engagez à respecter la loi française ainsi que celles en vigueur dans votre pays.</p>
            
                <h3>II. Description des services</h3>
                <p>Openhivemanager vous fournit des services principalement basés sur internet les services sont donc proposés en l'état, sous réserve de disponibilité et sans responsabilité à votre égard. Nous nous réservons aussi le droit de modification de suspension ou d'interruption de services avec ou sans préavis à tout moment et sans responsabilité à votre égard...</p>
            
                <h3>III. Abus</h3>
                <p>Le compte qui vous est fourni vous appartient, vous en êtes pleinement responsable et il ne doit en aucun cas être partagé, vendu ou mis à la disposition d'aucune tierce partie dans le cas contraire, votre responsabilité juridique pourrait être engagée.</p>

                <h3>IV. Vie privée</h3>
                <p>L'utilisateur est l'unique propriétaire et responsable des données qu'il enregistre dans Openhivemanager.</p>
            
                <h3>V. Inactivité</h3>
                <p>En cas d'une période d'inactivité supérieure ou égale à 12 mois ( 365 jours), nous nous réservons le droit de bloquer, supprimer votre compte Openhivemanager ainsi que toutes les données liées.</p>
            
                <h3>VI. Indemnisation</h3>
                <p>Les services étant proposés en l'état et sous réserve de disponibilité, vous ne pouvez prétendre à aucune indemnisation.</p>
            </div>
        </div>

        {% block footer %}
            {{ parent() }}
        {% endblock %}
        
    </div>
    <!-- /.container -->

{% endblock %}