{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}
{% extends "KGSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite, ?uglifycss'
            '@KGSiteBundle/Resources/public/minify/rgen_min.css'
            '@KGSiteBundle/Resources/public/css/custom.css'
            '@KGSiteBundle/Resources/public/css/forkme.css'
            'assets/css/icons/fontawesome/styles.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
    	<link href="//fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?uglifyjs2'
            '@KGSiteBundle/Resources/public/minify/rgen_min.js'
            '@KGSiteBundle/Resources/public/js/rgen.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>          		
    {% endjavascripts %}
    {{ parent() }}
{% endblock %} 
        
{% block pagecontainer %}
    <div id="page">
        <section class="intro-section intro-section-7" style="outline-offset: -3px;">
            <div class="info-wrp bg-tc bg-cover" data-bg="{{ asset('header.jpg') }}" style="outline-offset: -3px; background-image: url('{{ asset('header.jpg') }}'); background-color: rgb(38, 50, 56);" data-bg-align="center-center-cover">
                <div class="content">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img id="logo" class="img-responsive img-center" src="{{ asset('logo2.png') }}" alt="OpenHiveManager">
                        </div>
                    </div>
                        <h2 class="main-text"><small style="color: rgb(245, 245, 245);">Le premier logiciel participatif de gestion apicole</small></h2>
                    <a href="{{ path('kg_beekeeping_management_home') }}" class="btn btn-default btn1">Démarrer</a>
                </div><!-- /.container -->
            </div>
            <img src="{{ asset('macbook-pro1.png') }}" class="intro-img img-responsive">
        </section><!-- /.intro-section --><!-- Content -->

        <section class="content-section dark align-c content-section-9" style="outline-offset: -3px; background-color: rgb(55, 71, 79);" data-bg="" data-bg-align="center-center-cover">
            <div class="container">
                <h2 class="title">Par vous, pour vous...</h2>
                <div class="row eqh gt40 fs-equalize-element">
                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-linux" style="color: rgb(245, 245, 245);" id="ui-id-43"></i></div>
                            <div class="info">
                                <h2 class="hd">Libre</h2>
                                <p class="sub-txt" style="margin-top: 0px; margin-bottom: 10px; color: rgba(255, 255, 255, 0.6); font-size: 13px; font-weight: 400; font-style: normal;">OpenHiveManager est développé sous licence GNU GPLv3 et son code source est disponible sur Github</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-lock" style="color: rgb(245, 245, 245);" id="ui-id-44"></i></div>
                            <div class="info">
                                <h2 class="hd">Privé</h2>
                                <p class="sub-txt">Vous seuls êtes maîtres de vos données. Elles sont privées et ne sont pas utilisées à votre insu</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-code-fork" style="color: rgb(245, 245, 245);" id="ui-id-45"></i></div>
                            <div class="info">
                                <h2 class="hd">Collaboratif</h2>
                                <p class="sub-txt">Vous êtes au coeur du processus d'études des besoins et chacune de vos remarques est prise en compte</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-heart-o" style="color: rgb(245, 245, 245);" id="ui-id-46"></i></div>
                                <div class="info">
                                    <h2 class="hd">Participatif</h2>
                                    <p class="sub-txt">OpenHiveManager n'est pas payant. Vous êtes libre de participer à son développement à travers des dons.</p>
                                </div>
                            </div>	
                        </div>
                    </div>
            </div><!-- /.container -->
        </section><!-- /.content-section --><!-- Content -->

        <section class="content-section align-c content-section-9">
            <div class="container">
                <h2 class="title" style="margin-top: 0px; margin-bottom: 60px; color: rgb(55, 71, 79); font-size: 50px; font-weight: 300; font-style: normal;">Exemples de fonctionnalités</h2>
                <div class="row eqh gt40 fs-equalize-element">
                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-cloud" id="ui-id-47" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Météo</h2>
                                <p class="sub-txt">Suivez les conditions météorologiques liées à vos rucher</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-clipboard" id="ui-id-48" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Visites</h2>
                                <p class="sub-txt">Visitez vos ruches et archivez vos fiches de visites</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-exchange" id="ui-id-49" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Transhumances</h2>
                                <p class="sub-txt">Transhumez et archivez les transhumances de vos ruches</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-sitemap" id="ui-id-50" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Lignées</h2>
                                <p class="sub-txt">Remérez et divisez vos colonies tout en gardant un suivi précis de leur lignée</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-upload" id="ui-id-51" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Récoltes</h2>
                                <p class="sub-txt">Récoltez partiellement ou entièrement vos hausses en fonction du type de miel qu'elles contiennent</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-qrcode" id="ui-id-52" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">QR codes</h2>
                                <p class="sub-txt">Générez des QR codes et accédez à vos ruches en quelques secondes</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-tasks" id="ui-id-53" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Tâches</h2>
                                <p class="sub-txt">Notez les tâches à accomplir sur vos ruches et fixez vous des priorités et des dates</p>
                            </div>
                        </div>	
                    </div>

                    <div class="col-md-3" style="height: 266px;">
                        <div class="info-box info-box7">
                            <div class="img"><i class="fa fa-arrows-alt" id="ui-id-54" style="color: rgb(38, 166, 154);"></i></div>
                            <div class="info">
                                <h2 class="hd" style="margin-top: 0px; margin-bottom: 20px; color: rgb(55, 71, 79); font-size: 24px; font-weight: 300; font-style: normal;">Responsive</h2>
                                <p class="sub-txt">Accédez à OpenHiveManager depuis n'importe quel smartphone, tablette ou ordinateur</p>
                            </div>
                        </div>	
                    </div>
                </div>
            </div><!-- /.container -->
        </section><!-- /.content-section --><!-- Slider -->

        <section class="slider-section slider-section-2" data-bg="" data-bg-align="center-center-cover" style="background-color: rgb(55, 71, 79);">
            <div class="carousel-widget zoom-carousel ctrl-1" id="carousel-widget" data-nav="true" data-pager="true" data-itemrange="0,1|420,1|600,2|768,3|992,4|1200,6" data-margin="0" data-hauto="false" data-center="true">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img1.png') }}"></div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img2.png') }}"></div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img3.png') }}"></div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img4.png') }}"></div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img5.png') }}"></div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img6.png') }}"></div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="content anim"><img src="{{ asset('app-img7.png') }}"></div>
                    </div><!-- /.item -->                    
                </div><!-- /.owl-carousel -->
            </div><!-- /.carousel-widget -->
        </section><!-- /.slider-section --><!-- Footer section -->

        <section class="footer-section footer-section-8" data-bg="" data-bg-align="center-center-cover" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="link-list">
                    <a href="{{ path('kg_beekeeping_management_home') }}"><i class="fa fa-home"></i> Manager</a>
                    <a href="{{ path('kg_site_cgu') }}"><i class="fa fa-book"></i> CGU</a>
                    <a href="{{ path('kg_site_contact') }}"><i class="fa fa-envelope"></i> Contact</a>
                    <a href="https://www.pikari.fr/c/pem5in"><i class="fa fa-heart"></i> Participez</a>
                </div><!-- /.link-list -->

                <div class="link-list">
                    <a href="https://www.facebook.com/openhivemanager/" data-selector="Footer"><i class="fa fa-facebook-square" style="color: rgb(38, 166, 154);" id="ui-id-17" data-selector=".fa"></i></a>
                    <a href="https://twitter.com/openhivemanager" data-selector="Footer"><i class="fa fa-twitter" style="color: rgb(38, 166, 154);" id="ui-id-18" data-selector=".fa"></i></a>
                    <a href="https://github.com/Keverg/OpenHiveManager.git" data-selector="Footer"><i class="fa fa-github" style="color: rgb(38, 166, 154);" id="ui-id-19" data-selector=".fa"></i></a>
                </div><!-- /Social -->

                <hr>
                <p class="copyright">
                    {% include 'KGSiteBundle::footer.html.twig' %}
                </p>
            </div>
        </section><!-- ./Footer section -->
    </div>
                    
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a title="Fork me on Github" target="_blank" href="https://github.com/Keverg/OpenHiveManager.git">Fork me on Github</a>
        </div>
    </div>                
{% endblock %}