{# src/KG/SiteBundle/Resources/views/Accueil/index.html.twig #}

{% extends "KGSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        '@KGSiteBundle/Resources/public/css/business-frontpage.css'
        '@KGSiteBundle/Resources/public/css/forkme.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
{% endblock %}

{% block header %}
    <header>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img id="logo" class="img-responsive img-center" src="{{ asset('logo.png') }}" alt="OpenHiveManager">
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h1><small>La première application participative de gestion apicole</small></h1>                
            </div>    
        </div>    
    </header> 
{% endblock %}    

{% block body %}
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{ icon('linux') }} Libre &amp; Open Source</h4>
                </div>
                <div class="panel-body">
                    <p>Parce que nous souhaitons que tout le monde soit libre d'utiliser OpenHiveManager ou de la modifier à sa guise, l'application est développée sous licence GNU GPLv3 et le code source est disponible sur FramaGit.</p>
                    <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html" class="btn btn-warning pull-right">Licence GNU GPLv3</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{ icon('code-fork') }} Développement collaboratif</h4>
                </div>
                <div class="panel-body">
                    <p>Parce que notre priorité est que chacun trouve dans OpenHiveManager les outils dont il a besoin, nous faisons tout notre possible pour vous intégrer dans notre processus d'évaluation des besoins et nous serons toujours à votre écoute.</p>
                    <a href="{{ path('kg_site_contact') }}" class="btn btn-warning pull-right">Contactez-nous</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{ icon('heart') }} Financement participatif</h4>
                </div>
                <div class="panel-body">
                    <p>Parce que nous avons besoin d'argent pour assurer la pérennité et l'évolutivité d'OpenHiveManager et que nous nous refusons à tout autre mode de financement, comme la publicité, par exemple. </p>
                    <a href="{{ path('kg_site_participer') }}" class="btn btn-warning pull-right">Participez</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Fonctionnalités</h2>
        </div>
        <div class="col-md-6">
            <p><strong>OpenHiveManager intègre les fonctionnalités suivantes :</strong></p>
            <ul>   
                <li>Suivi des conditions météorologique de vos ruchers</li>
                <li>Archivage des visites de vos ruches</li>
                <li>Archivage des transhumances de vos ruches</li>
                <li>Archivage de la ligné de vos colonnies</li>   
                <li>Archivage des récoltes de vos ruches</li>
                <li>Compatibilité tablettes et smartphones, tous systèmes d'exploitation</li>
            </ul>
            <p><strong>D'autres fonctionnalités sont en phase de développement :</strong></p>
            <ul>
                <li>Traduction du site dans plusieurs langues</li>
                <li>Mode collaboratif pour travailler à plusieurs sur une exploitation</li>
                <li>Editabilité des fiches de visites</li>
                <li>Statistiques par colonnies, ruches, ruchers, exploitation ...</li>
                <li>Inventaire du matériel</li>
                <li><strong>Et plein d'autres encore...</strong></li>
            </ul>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{{ asset("screen.png") }}" alt="Aperçu">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>OpenHiveManager est une application conçue par les apiculteurs, pour les apiculteurs. Vous souhaitez utiliser un outil répondant à vos besoins et fondé sur le partage et la collaboration? Alors n'hésitez plus!</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-success btn-block" href="{{ path('fos_user_registration_register') }}">Inscrivez-vous!</a>
            </div>
        </div>
    </div>
                
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a target="_blank" href="https://git.framasoft.org/jack12/OpenHiveManager.git">Fork me on Framagit</a>
        </div>
    </div>

{% endblock %}