{# src/KG/BeekeepingManagementBundle/Resources/views/Colonie/diviser.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/colonie/diviser.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endjavascripts %}    
{% endblock %}

{% block title %}{{ parent() }} - Diviser une colonie{% endblock %}

{% form_theme form "KGBeekeepingManagementBundle::form_layout.html.twig" %}

{% block ruchers %}{{ colonieMere.ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Division de la colonie {{ colonieMere.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block form_error %}
    {{ form_errors(form.nom) }}
    {{ form_errors(form.affectation) }}
    {{ form_errors(form) }}  
{% endblock %}

{% block panel_body %}
                  
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="form-group">
        {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
        <div class="col-sm-5 col-md-5">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>      

    <div class="form-group">
        {{ form_label(form.affectation, "Affectation :", {'label_attr': {'class': 'col-sm-5 col-md-4 control-label'}}) }}
        <div class="col-sm-5 col-md-5">
            {{ form_widget(form.affectation, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>                      

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <div class="pull-right">
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                    Annuler
                </a>

                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Sauvegarder
                </button>
            </div>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}