{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                   '@KGBeekeepingManagementBundle/Resources/public/js/colonie/diviser.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endjavascripts %} 
    {{ form_javascript(form) }}
{% endblock %}

{% block ruchers %}{{ colonieMere.ruche.emplacement.rucher.nom }}{% endblock %}
{% block title %}{{ parent() }} - Diviser une colonie{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Division de la colonie n° {{ colonieMere.numero }}</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}
                  
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}

    <fieldset> 
        <legend>Emplacement</legend>        
        {{ form_row(form.ruche.rucher, {'label': 'Rucher :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.emplacement, {'label': 'Emplacement :', 'label_col': 4, 'widget_col': 5})  }}            
    </fieldset> 
            
    <fieldset> 
        {{ form_row(form.ruche.nom, {'label': 'Nom de la ruche :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.matiere, {'label': 'Matière :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.corps.type, {'label': 'Type :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.corps.nbcadres, {'label': 'Nombre de cadres :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.image.file, {'label': 'Photo :', 'label_col': 4, 'widget_col': 5})  }}
    </fieldset>
    
    <fieldset>
        <legend>Colonie</legend>                
        {{ form_row(form.dateColonie, {'label': 'Date de la division :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.affectation, {'label': 'Affectation :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.corps.nbnourriture, {'label': 'Cadres de nourriture :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.ruche.corps.nbcouvain, {'label': 'Cadres de couvain :', 'label_col': 4, 'widget_col': 5})  }} 
    </fieldset>                

    <fieldset>
        <legend>Reine</legend>
        {% for remerage in form.remerages %}
            <div class="row">
                <div class="col-md-offset-4 col-md-6">            
                    {{ form_row(remerage.reine.marquage, {'attr': {'data-label-text' : "Marquage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                    {{ form_row(remerage.reine.clippage, {'attr': {'data-label-text' : "Clippage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                </div>
            </div>  
        {% endfor %}        
    </fieldset>    
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}