{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : colonie.ruche} only %}
{% endblock %}

{% block body %}
    <!-- Centered forms -->
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Déclaration de la mort de la colonie</h5>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_label(form.dateMort, 'Date :*', { 'label_attr': {'class': 'col-lg-3'} }) }}
                                    <div class="col-lg-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {{ form_widget(form.dateMort) }}
                                            {{ form_errors(form.dateMort) }}
                                        </div>
                                    </div>
                                </div>    
                                    
                                <div class="form-group">
                                    {{ form_label(form.causes, "Causes :", { 'label_attr': {'class': 'col-lg-3'} }) }}
                                    <div class="col-lg-9">
                                        {{ form_widget(form.causes) }}
                                        {{ form_errors(form.causes) }}
                                    </div>
                                </div>                                      
                                    
                                <div class="form-group">
                                    {{ form_label(form.autreCause, "Autre causes :", { 'label_attr': {'class': 'col-lg-3'} }) }}
                                    <div class="col-lg-9">
                                        {{ form_widget(form.autreCause) }}
                                        {{ form_errors(form.autreCause) }}
                                    </div>
                                </div>                                      
                                    
                                {{ form_rest(form) }}
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Sauvegarder <i class="icon-arrow-right14 position-right"></i></button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- /form centered -->    
{% endblock %}