{# src/KG/BeekeepingManagementBundle/Resources/views/Colonie/update.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'css/bootstrap_switch/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}  
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/bootstrap_switch/bootstrap-switch.js'
                    '@KGBeekeepingManagementBundle/Resources/public/js/colonie/update.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Modifier une colonie{% endblock %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Modification de la colonie de la ruche {{ colonie.ruche.nom }}</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}
             
    {{ form_start(form, { 'style': 'horizontal' }) }}

    <fieldset>
        <legend>Colonnie</legend>
        {{ form_row(form.affectation, {'label': 'Affectation :'})  }}
    </fieldset>

    <fieldset> 
        <legend>Reine</legend>
        <div class="row">
            <div class="col-md-offset-4 col-md-6"> 
                {{ form_row(form.reine.marquage, {'attr': {'data-label-text' : "Marquage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                {% if colonie.reine.clippage %}
                    {{ form_row(form.reine.clippage, {'attr': {'data-label-text' : "Clippage", 'data-on-text': "Oui", 'data-off-text': 'Non'}, 'disabled': 'true'}) }}
                {% else %}    
                    {{ form_row(form.reine.clippage, {'attr': {'data-label-text' : "Clippage", 'data-on-text': "Oui", 'data-off-text': 'Non'}}) }}
                {% endif %}   
            </div>
        </div>             
    </fieldset>                
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         
{% endblock %}