{# src/KG/BeekeepingManagementBundle/Resources/views/Colonie/view.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Colonie{% endblock %}

{% block ruchers %}{{ colonie.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            {%if colonie.ruche %}
                <h4>Colonie de la ruche {{ colonie.ruche.nom }}</h4>
            {% else %}
                <h4>Colonie morte du rucher {{ colonie.rucher.nom }}</h4>
            {% endif %}
        </div>
        <div class="col-xs-6">
        {% if not colonie.morte %}
            <span class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Menu
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a title="Renouveler la reine" href="{{ path('kg_beekeeping_management_renouveler_reine', { 'reine_id': colonie.reine.id }) }}"><i class="glyphicon glyphicon-refresh"></i> Remérage</a></li>
                        {% if colonie.ruche.corps.nbcouvain > 1 %}<li><a title="Diviser" href="{{ path('kg_beekeeping_management_diviser_colonie', { 'colonie_id' : colonie.id }) }}"><i class="glyphicon glyphicon-scissors"></i> Diviser</a></li>{% endif %}
                        <li><a title="Editer" href="{{ path('kg_beekeeping_management_update_colonie', { 'colonie_id' : colonie.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Modifier la colonie</a></li>
                        <li><a title="Déclarer mort" href="{{ path('kg_beekeeping_management_tuer_colonie', { 'colonie_id' : colonie.id }) }}"><i class="glyphicon glyphicon-minus-sign"></i> Déclarer morte</a></li>
                        {% if colonie.visites is empty and colonie.recoltesruche is empty and colonie.coloniesFilles is empty %}
                            <li role="separator" class="divider"></li>
                            <li><a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_colonie', { 'colonie_id' : colonie.id }) }}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></li>                     
                        {% endif %}
                    </ul>
                </div>                 
            </span>
        {% endif %}
        </div>
    </div>    
{% endblock %}


{% block panel_body %}
    <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> 
            <img src="../../../../../img/abeille/{{ colonie.reine.race.libelle }}.jpg" alt="{{ colonie.reine.race.libelle }}" class="img-thumbnail img-responsive">             
        </div>

        <div class=" col-md-9 col-lg-9 ">
            {% if colonie.morte %}
            <div class="alert alert-danger" role="alert">
                <h4><i class="glyphicon glyphicon-alert"></i> Cette colonie est morte</h4>
                <strong>Causes de la mort :</strong></td>
                {% for cause in colonie.causes %}
                    {% if not loop.first %}
                        - 
                    {% endif %}
                    {{ cause.libelle }}
                {% endfor %}

                {% if colonie.causes is not empty and colonie.autreCause %}
                    -
                {% endif %}
                {{ colonie.autreCause }}
            </div>
            {% endif %}

            <table class="table">    
                <tbody>
                    <tr>
                        <td><strong>Race</strong></td>
                        <td>{{ colonie.reine.race.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Date de naissance</strong></td>
                        <td>{{ colonie.dateColonie|date("m/Y") }}</td>
                    </tr>

                    {% if colonie.colonieMere %}
                    <tr>
                        <td><strong>Colonie mère</strong></td>
                        <td><a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': colonie.colonieMere.id }) }}"><i class="glyphicon glyphicon-user"></i></a></td>
                    </tr>                              
                    {% endif %}

                    {% if colonie.coloniesFilles is not empty %}
                    <tr>
                        <td><strong>Colonie{% if colonie.coloniesFilles|length > 1 %}s{% endif %} fille{% if colonie.coloniesFilles|length > 1 %}s{% endif %}</strong></td>
                        <td>
                            {% for colonieFille in colonie.coloniesFilles %}
                                {% if not loop.first %}
                                    - 
                                {% endif %}
                                <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': colonieFille.id }) }}"><i class="glyphicon glyphicon-user"></i></a>
                            {% endfor %}
                        </td>
                    </tr>                              
                    {% endif %}

                    {% if colonie.ruche %}
                    <tr>
                        <td><strong>Ruche</strong></td>
                        <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': colonie.ruche.id }) }}">{{ colonie.ruche.nom }}</a></td>
                    </tr>

                    {% if colonie.ruche.emplacement %}
                    <tr>
                        <td><strong>Rucher</strong></td>
                        <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': colonie.ruche.emplacement.rucher.id }) }}">{{ colonie.ruche.emplacement.rucher.nom }}</a></td>
                    </tr>                              
                    {% endif %}                            

                    {% endif %}

                    <tr>
                        <td><strong>Affectation</strong></td>
                        <td>{{ colonie.affectation.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Origine</strong></td>
                        <td>{{ colonie.origineColonie.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Etat</strong></td>
                        <td>{{ colonie.etat.libelle }}</td>
                    </tr>
                    {% if colonie.ruche %}
                    <tr>
                        <td><strong>Cadres miel</strong></td>
                        <td>{{ colonie.ruche.corps.nbnourriture }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Cadres couvain</strong></td>
                        <td>{{ colonie.ruche.corps.nbcouvain }}</td>
                    </tr>                
                    {% endif %}
                    <tr>
                        <td><strong>Agressivité</strong></td>
                        <td>{{ colonie.agressivite.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Année de la reine</strong></td>
                        <td>{% if colonie.reine.anneeReine %}{{ colonie.reine.anneeReine|date("Y") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Provenance de la reine</strong></td>
                        <td>{% if colonie.reine.provenanceReine %}{{ colonie.reine.provenanceReine.libelle }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Marquage</strong></td>
                        <td>                                   
                            {% if colonie.reine.marquage %}
                                {% set annee = colonie.reine.anneeReine|date("Y")|last %}
                                {% if annee == 0 or annee == 5 %}{% set marquage = 'Bleu' %}{% endif %}
                                {% if annee == 1 or annee == 6 %}{% set marquage = 'Blanc' %}{% endif %}
                                {% if annee == 2 or annee == 7 %}{% set marquage = 'Jaune' %}{% endif %}
                                {% if annee == 3 or annee == 8 %}{% set marquage = 'Rouge' %}{% endif %}
                                {% if annee == 4 or annee == 9 %}{% set marquage = 'Vert' %}{% endif %}
                            {% else %}    
                                {% set marquage = 'Aucun' %}
                            {% endif %}
                            {% if colonie.reine.provenanceReine %}{{ marquage }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Clippage</strong></td>
                        <td>{% if colonie.reine.provenanceReine %}{% if colonie.reine.clippage %} Oui {% else %} Non {% endif %}{% endif %}</td>
                    </tr>
                </tbody>
          </table>
    </div>
  </div>
{% endblock %}
