{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Colonie{% endblock %}

{% block menu %}
    {% include 'KGBeekeepingManagementBundle::menuRuche.html.twig' %}
{% endblock menu %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Données de la colonie</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}        
    <div class="row">
        {% set reine = colonie.remerages|last.reine %}       
        <div class="col-sm-4">
            <h3>Caractéristiques</h3>
            <table class="table">  
                <tbody>
                    <tr>
                        <td><strong>Numéro</strong></td>
                        <td>{{ colonie.numero }}</td>
                    </tr>
                    <tr>
                        <td><strong>Race</strong></td>
                        <td>{{ reine.race.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Date de naissance</strong></td>
                        <td>{{ colonie.dateColonie|date("m/Y") }}</td>
                    </tr>
                    <tr>
                        <td><strong>Origine</strong></td>
                        <td>{{ colonie.origineColonie.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Etat</strong></td>
                        <td>{{ colonie.etat.libelle }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Agressivité</strong></td>
                        <td>{{ colonie.agressivite.libelle }}</td>
                    </tr>              
                </tbody>
            </table>
        </div>            
        <div class="col-sm-4">
            <h3>Lignée</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Colonie mère</strong></td>
                        <td>
                            {% if reine.reineMere %}
                                <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': reine.reineMere.remerage.colonie.id }) }}">{{ reine.reineMere.remerage.colonie.numero }}</a>
                            {% else %}
                                Inconnue
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        {% set long = reine.reinesFilles|length %}
                        <td><strong>Colonie{% if long > 1 %}s{% endif %} fille{% if long > 1 %}s{% endif %}</strong></td>
                        <td>
                            {% if reine.reinesFilles is empty %}
                                Aucune
                            {% endif %}
                            {% for reineFille in reine.reinesFilles %}
                                {% if not loop.first %}
                                    - 
                                {% endif %}
                                <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': reineFille.remerage.colonie.id }) }}">{{ reineFille.remerage.colonie.numero }}</a>
                            {% endfor %}
                        </td>
                    </tr>                                         
                </tbody>
            </table>                                  
        </div>
        <div class="col-sm-4">   
            {% set reine = colonie.remerages|last.reine %}
            <h3>Reine</h3>
            <table class="table">
                <tbody> 
                    <tr>
                        <td><strong>Année</strong></td>
                        <td>{% if reine.anneeReine %}{{ reine.anneeReine|date("Y") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Marquage</strong></td>
                        <td>                                   
                            {% if reine.marquage %}
                                {% set annee = reine.anneeReine|date("Y")|last %}
                                {% if annee == 0 or annee == 5 %}{% set marquage = 'Bleu' %}{% endif %}
                                {% if annee == 1 or annee == 6 %}{% set marquage = 'Blanc' %}{% endif %}
                                {% if annee == 2 or annee == 7 %}{% set marquage = 'Jaune' %}{% endif %}
                                {% if annee == 3 or annee == 8 %}{% set marquage = 'Rouge' %}{% endif %}
                                {% if annee == 4 or annee == 9 %}{% set marquage = 'Vert' %}{% endif %}
                            {% else %}    
                                {% set marquage = 'Aucun' %}
                            {% endif %}
                            {{ marquage }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Clippage</strong></td>
                        <td>{% if reine.clippage %} Oui {% else %} Non {% endif %}</td>
                    </tr>                                                     
                </tbody>
            </table>             
        </div>                    
    </div>
{% endblock %}
