{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Colonie{% endblock %}

{% block ruchers %}{{ colonie.rucher.nom }}{% endblock %}

{% set reine = colonie.remerages|last.reine %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-6">
            {%if colonie.ruche %}
                <h4>Colonie de la ruche {{ colonie.ruche.nom }}</h4>
            {% else %}
                <h4>Colonie morte du rucher {{ colonie.rucher.nom }}</h4>
            {% endif %}
        </div>
        <div class="col-xs-6">
        {% if not colonie.morte %}
            <span class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Menu
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a title="Remérage" href="{{ path('kg_beekeeping_management_remerage', { 'colonie_id': colonie.id }) }}">{{ icon('refresh') }} Remérage</a></li>
                        {% if colonie.remerages is not empty %}
                            <li><a title="Historique des remérages" href="{{ path('kg_beekeeping_management_view_remerages', { 'colonie_id' : colonie.id }) }}">{{ icon('list') }} Historique des remérages</a></li>
                        {% endif %}                        
                        {% if colonie.ruche.corps.nbcouvain > 1 %}<li><a title="Diviser" href="{{ path('kg_beekeeping_management_diviser_colonie', { 'colonie_id' : colonie.id }) }}">{{ icon('resize-full') }} Diviser</a></li>{% endif %}
                        <li><a title="Editer" href="{{ path('kg_beekeeping_management_update_colonie', { 'colonie_id' : colonie.id }) }}">{{ icon('pencil') }} Modifier la colonie</a></li>
                        <li><a title="Déclarer mort" href="{{ path('kg_beekeeping_management_tuer_colonie', { 'colonie_id' : colonie.id }) }}">{{ icon('minus-sign') }} Déclarer morte</a></li>
                        {% if colonie.visites is empty and colonie.recoltes is empty and colonie.coloniesFilles is empty %}
                            <li role="separator" class="divider"></li>
                            <li><a title="Supprimer" href="{{ path('kg_beekeeping_management_delete_colonie', { 'colonie_id' : colonie.id }) }}">{{ icon('trash') }} Supprimer</a></li>                     
                        {% endif %}
                    </ul>
                </div>                 
            </span>
        {% endif %}
        </div>
    </div>    
{% endblock %}


{% block panel_body %}
    <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
            <img src="{{ asset('img/abeille/' ~ reine.race.libelle  ~ '.jpg')}}" alt="{{ reine.race.libelle }}" class="img-thumbnail img-responsive">
        </div>
        <div class=" col-md-9 col-lg-9 ">
            {% if colonie.morte %}
            <div class="alert alert-danger" role="alert">
                <h4>{{ icon('alert') }} Cette colonie est morte</h4>
                <strong>Causes de la mort :</strong></td>
                {% for cause in colonie.causes %}
                    {% if not loop.first %}
                        - 
                    {% endif %}
                    {{ cause.libelle }}
                {% endfor %}

                {% if colonie.causes is not empty and colonie.autreCause %}
                    -
                {% endif %}
                {{ colonie.autreCause }}
            </div>
            {% endif %}

            <table class="table">    
                <tbody>
                    <tr>
                        <td><strong>Race</strong></td>
                        <td>{{ reine.race.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Date de naissance</strong></td>
                        <td>{{ colonie.dateColonie|date("m/Y") }}</td>
                    </tr>

                    {% if colonie.colonieMere %}
                    <tr>
                        <td><strong>Colonie mère</strong></td>
                        <td><a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': colonie.colonieMere.id }) }}">{{ icon('user') }}</a></td>
                    </tr>                              
                    {% endif %}

                    {% if colonie.coloniesFilles is not empty %}
                    <tr>
                        <td><strong>Colonie{% if colonie.coloniesFilles|length > 1 %}s{% endif %} fille{% if colonie.coloniesFilles|length > 1 %}s{% endif %}</strong></td>
                        <td>
                            {% for colonieFille in colonie.coloniesFilles %}
                                {% if not loop.first %}
                                    - 
                                {% endif %}
                                <a title="Afficher la colonie" href="{{ path('kg_beekeeping_management_view_colonie', { 'colonie_id': colonieFille.id }) }}">{{ icon('user') }}</a>
                            {% endfor %}
                        </td>
                    </tr>                              
                    {% endif %}

                    {% if colonie.ruche %}
                    <tr>
                        <td><strong>Ruche</strong></td>
                        <td><a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': colonie.ruche.id }) }}">{{ colonie.ruche.nom }}</a></td>
                    </tr>

                    {% if colonie.ruche.emplacement %}
                    <tr>
                        <td><strong>Rucher</strong></td>
                        <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': colonie.ruche.emplacement.rucher.id }) }}">{{ colonie.ruche.emplacement.rucher.nom }}</a></td>
                    </tr>                              
                    {% endif %}                            

                    {% endif %}

                    <tr>
                        <td><strong>Affectation</strong></td>
                        <td>{{ colonie.affectation.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Origine</strong></td>
                        <td>{{ colonie.origineColonie.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Etat</strong></td>
                        <td>{{ colonie.etat.libelle }}</td>
                    </tr>
                    {% if colonie.ruche %}
                    <tr>
                        <td><strong>Cadres miel</strong></td>
                        <td>{{ colonie.ruche.corps.nbnourriture }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Cadres couvain</strong></td>
                        <td>{{ colonie.ruche.corps.nbcouvain }}</td>
                    </tr>                
                    {% endif %}
                    <tr>
                        <td><strong>Agressivité</strong></td>
                        <td>{{ colonie.agressivite.libelle }}</td>
                    </tr>
                    <tr>
                        <td><strong>Année de la reine</strong></td>
                        <td>{% if reine.anneeReine %}{{ reine.anneeReine|date("Y") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Marquage</strong></td>
                        <td>                                   
                            {% if reine.marquage %}
                                {% set annee = reine.anneeReine|date("Y")|last %}
                                {% if annee == 0 or annee == 5 %}{% set marquage = 'Bleu' %}{% endif %}
                                {% if annee == 1 or annee == 6 %}{% set marquage = 'Blanc' %}{% endif %}
                                {% if annee == 2 or annee == 7 %}{% set marquage = 'Jaune' %}{% endif %}
                                {% if annee == 3 or annee == 8 %}{% set marquage = 'Rouge' %}{% endif %}
                                {% if annee == 4 or annee == 9 %}{% set marquage = 'Vert' %}{% endif %}
                            {% else %}    
                                {% set marquage = 'Aucun' %}
                            {% endif %}
                            {{ marquage }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Clippage</strong></td>
                        <td>{% if reine.clippage %} Oui {% else %} Non {% endif %}</td>
                    </tr>
                </tbody>
          </table>
    </div>
  </div>
{% endblock %}
