<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}OpenHiveManager{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' 
                'css/bootstrap/bootstrap.css'
                '@KGSiteBundle/Resources/public/css/layout.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
        {% endblock %}
      
        <style>{% block style %}{% endblock %}</style>
    </head>

    <body>

        <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="{{ path('kg_site_home') }}">OpenHiveManager</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">    
                <li><a href="{{ path('kg_beekeeping_management_home') }}"><i class="glyphicon glyphicon-home"></i> Manager</a></li>                            
                <li><a href="{{ path('kg_site_cgu') }}"><i class="glyphicon glyphicon-book"></i> CGU</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>  
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <strong><i class="glyphicon glyphicon-user"></i> {{ app.user.username }}</strong> <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                        {% block menu_user %}
                        {% endblock %}
                        <li role="separator" class="divider"></li>     
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Connexion</a></li>
                {% endif %}
                                <li><a href="#"><strong><i class="glyphicon glyphicon-piggy-bank"></i> Faire un don</strong></a></li>  
            </ul>
          </div>
        </div>

        {% block header %}
        {% endblock %}
        
        <!-- Main -->
        <div class="container">
            <div class="row">
                {% block body %}
                    {% block footer %}
                        <hr>

                        <!-- Footer -->
                        <footer>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Copyright &copy; Your Website 2014</p>
                                </div>
                            </div>
                        </footer>            
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
        <!-- /Main -->                
        
    {% block javascripts %}
        {% javascripts 'js/jquery/jquery-2.1.1.min.js' 
                       'js/bootstrap/bootstrap.js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>  
        {% endjavascripts %}
    {% endblock %}    
    </body>
</html>
