<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}OpenHiveManager{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' 
                '@KGSiteBundle/Resources/public/css/layout.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
      
        <style>{% block style %}{% endblock %}</style>
        
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body>

        <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="{{ path('kg_site_home') }}">OpenHiveManager</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">    
                <li><a href="{{ path('kg_beekeeping_management_home') }}">{{ icon('home') }} Manager</a></li>                            
                <li><a href="{{ path('kg_site_cgu') }}">{{ icon('book') }} CGU</a></li>
                <li><a href="{{ path('kg_site_contact') }}">{{ icon('envelope') }} Contact</a></li>  
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <strong>{{ icon('user') }} {{ app.user.username }}</strong> <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_profile_edit') }}">Profil</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Mot de passe</a></li>
                        {% block menu_user %}
                        {% endblock %}
                        <li role="separator" class="divider"></li>     
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ icon('log-out') }} Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ icon('log-in') }} Connexion</a></li>
                {% endif %}
                <li><a href="#"><strong>{{ icon('heart') }} Faire un don</strong></a></li>  
            </ul>
          </div>
        </div>

        {% block header %}
        {% endblock %}
        
        <!-- Main -->
        <div class="container">
            {% block body %}

            {% endblock %} 
            
            {% block footer %}
                <footer>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
                            Ce <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.openhivemanager.com" property="cc:attributionName" rel="cc:attributionURL">site</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licence Creative Commons Attribution - Pas d&#39;Utilisation Commerciale - Pas de Modification 4.0 International</a>.
                        </div>                                                      
                    </div>
                </footer>            
            {% endblock %}             
        </div>
        <!-- /Main -->                
            
    {% block javascripts %}
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}    
    </body>
</html>
