<!DOCTYPE html>
<html>
    <head>        
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:title" content="OpenHiveManager" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="La première application participative de gestion appicole" />
        <meta property="og:url" content="http://www.openhivemanager.org" />
        <meta property="og:site_name" content="OpenHiveManager" />
        <meta property="og:image" content="http://www.openhivemanager.org/logo_ogpng" /> 
        <meta property="og:image:width" content="200" />
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        <title>{% block title %}OpenHiveManager{% endblock %}</title>
    
        {% block stylesheets %}
                {% stylesheets filter='cssrewrite, ?uglifycss'
                    'css/bootstrap.css'
                    'css/font-awesome.min.css'   
                    'assets/vendor/metisMenu/dist/metisMenu.min.css'
                    'assets/vendor/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">        
            {% endstylesheets %}
        {% endblock %}
        
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.exploitations|first %}
                    <a class="navbar-brand" href="{{ path('kg_site_home') }}">
                        {{ app.user.exploitations|first.nom }}
                    </a>
                    {% endif %} 
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">
                    <li><a href="{{ path('kg_beekeeping_management_home') }}">{{ icon('home') }} Manager</a></li>                            
                    <li><a href="{{ path('kg_site_cgu') }}">{{ icon('book') }} CGU</a></li>
                    <li><a href="{{ path('kg_site_contact') }}">{{ icon('envelope') }} Contact</a></li>  
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <strong>{{ icon('user') }} {{ app.user.username }}</strong> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{{ path('fos_user_profile_edit') }}">{{ icon('gear') }} Profil</a></li>
                             <li><a href="{{ path('fos_user_change_password') }}">{{ icon('key') }} Mot de passe</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ icon('sign-out') }} Déconnexion</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ icon('sign-in') }} Connexion</a></li>
                    {% endif %}                   
                    <!-- /.dropdown -->
                    <li><a href="{{ path('kg_site_participer') }}"><strong>{{ icon('heart') }} Participez</strong></a></li>
                </ul>
                <!-- /.navbar-top-links -->

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.exploitations|first %}
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <li><a title="Panneau de contrôle" href="{{ path('kg_beekeeping_management_view_exploitation', { 'exploitation_id': app.user.exploitations|first.id }) }}">{{ icon('tachometer') }} Panneau de contrôle</a></li>
                                <li><a title="Modifier l'exploitation" href="{{ path('kg_beekeeping_management_update_exploitation', { 'exploitation_id': app.user.exploitations|first.id }) }}">{{ icon('pencil') }} Modifier l'exploitation</a></li>
                                <li><a title="Créer un rucher" href="{{ path('kg_beekeeping_management_add_rucher', { 'exploitation_id': app.user.exploitations|first.id }) }}">{{ icon('plus') }} Créer un rucher</a></li>                                                             
                                {% for rucher in app.user.exploitations|first.ruchers %}
                                <li>
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> {{ rucher.nom }}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': rucher.id }) }}">{{ icon('eye') }} Afficher</a></li>
                                        <li>
                                            <a href="#"><i class="fa fa-archive fa-fw"></i>Ruches <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                {% for emplacement in rucher.emplacements %}
                                                    {% if emplacement.ruche %}
                                                        <li>
                                                            <a title="Afficher la ruche" href="{{ path('kg_beekeeping_management_view_ruche', { 'ruche_id': emplacement.ruche.id }) }}">{{ icon('eye') }} {{ emplacement.ruche.nom }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <!-- /.nav-third-level -->
                                        </li>
                                        
                                        <li><a title="Modifier le rucher" href="{{ path('kg_beekeeping_management_update_rucher', { 'rucher_id': rucher.id }) }}">{{ icon('pencil') }} Modifier</a></li>
                                        <li><a title="Créer un emplacement" href="{{ path('kg_beekeeping_management_add_emplacement', { 'rucher_id': rucher.id }) }}">{{ icon('plus') }} Créer un emplacement</a></li>  
                                        {% if rucher.hasColonieMorte %}
                                            <li><a title="Afficher les colonies mortes" href="{{ path('kg_beekeeping_management_view_colonies_mortes', { 'rucher_id': rucher.id }) }}">{{ icon('heartbeat') }} Colonies mortes</a></li>
                                        {% endif %}
                                        {% if rucher.hasRuche %}
                                            <li><a title="Générer les QR codes" href="{{ path('kg_beekeeping_management_print_all_qr_code', { 'rucher_id': rucher.id }) }}">{{ icon('qrcode') }} QR codes</a></li>
                                        {% endif %}
                                        {% if rucher.canBeDeleted %}
                                            <li><a title="Supprimer le rucher" href="{{ path('kg_beekeeping_management_delete_rucher', { 'rucher_id': rucher.id }) }}">{{ icon('trash') }} Supprimer</a></li>
                                        {% endif %}
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                {% endfor %} 
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                {% endif %} 
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{% block header %}{% endblock %}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row --> 

                {% block body %}

                {% endblock %} 

                {% block footer %}
                    <footer>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
                                Ce <a href="http://www.openhivemanager.org" property="cc:attributionName" rel="cc:attributionURL">site</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licence Creative Commons Attribution - Pas d&#39;Utilisation Commerciale - Pas de Modification 4.0 International</a>.
                            </div>                                                      
                        </div>
                    </footer>            
                {% endblock %}              
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->        

        {% block javascripts %}
            {% javascripts filter='?uglifyjs2' 
                    'js/jquery.js'
                    'js/bootstrap.js'
                    'assets/vendor/metisMenu/dist/metisMenu.min.js'
                    'assets/vendor/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>          		
            {% endjavascripts %}
            <!-- Piwik -->
            <script type="text/javascript">
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                    var u="//analytics.openhivemanager.org/";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', 1]);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="//analytics.openhivemanager.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->	           
        {% endblock %}       
    </body>
</html>
