<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}BeeManager{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' 'css/bootstrap/bootstrap.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
        {% endblock %}
      
        <style>{% block style %}{% endblock %}</style>
    </head>

    <body>
        <!-- Header -->
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="#">BeeManager</a>
          </div>
          <div class="navbar-collapse collapse">
            {% if is_granted('ROLE_USER') %}
                {% block menu_exploitation %}             
                {% endblock %}
            {% endif %}    
            <ul class="nav navbar-nav pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown">
                  <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <strong>{{ app.user.username }}</strong> <span class="caret"></span></a>
                  <ul id="g-account-menu" class="dropdown-menu" role="menu">
                    <li><a href="{{ path('fos_user_profile_show') }}">Mon Profil</a></li> 
                    {% block menu_user %}
                    {% endblock %}
                  </ul>
                </li>                
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            {% endif %}    
            </ul>
          </div>
        </div>
        <!-- /Header -->
        
        <!-- Main -->
        <div class="container">
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <!-- /Main -->                

    {% block javascripts %}
        {% javascripts 'js/jquery/jquery-2.1.1.min.js' 
                       'js/bootstrap/bootstrap.js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>  
        {% endjavascripts %}
    {% endblock %}    
    </body>
</html>
