<!DOCTYPE html>
<html>
    <head>        
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:title" content="OpenHiveManager" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="La première application participative de gestion appicole" />
        <meta property="og:url" content="http://www.openhivemanager.org" />
        <meta property="og:site_name" content="OpenHiveManager" />
        <meta property="og:image" content="http://www.openhivemanager.org/logo_ogpng" /> 
        <meta property="og:image:width" content="200" />
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        <title>{% block title %}OpenHiveManager{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?uglifycss'
                'css/bootstrap.css'
                'css/font-awesome.min.css'   
                '@KGSiteBundle/Resources/public/css/layout.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
        {% endblock %}
        
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body>
        
        <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('kg_site_home') }}">
                    <img alt="OpenHiveManager" src="{{ asset('logo_navbar.png') }}">
                </a>
          </div>   
          <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">    
                <li><a href="{{ path('kg_beekeeping_management_home') }}">{{ icon('home') }} Manager</a></li>                            
                <li><a href="{{ path('kg_site_cgu') }}">{{ icon('book') }} CGU</a></li>
                <li><a href="{{ path('kg_site_contact') }}">{{ icon('envelope') }} Contact</a></li>  
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <strong>{{ icon('user') }} {{ app.user.username }}</strong> <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ icon
('gear') }} Profil</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">{{ icon('key') }} Mot de passe</a></li>
                        <li role="separator" class="divider"></li>     
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ icon('sign-out') }} Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ icon('sign-in') }} Connexion</a></li>
                {% endif %}
                <li><a href="{{ path('kg_site_participer') }}"><strong>{{ icon('heart') }} Participez</strong></a></li>  
            </ul>
          </div>
        </div>

        {% block header %}
        {% endblock %}
        
        <!-- Main -->
        <div class="container">
            {% block body %}

            {% endblock %} 
            
            {% block footer %}
                <footer>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
                            Ce <a href="http://www.openhivemanager.org" property="cc:attributionName" rel="cc:attributionURL">site</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licence Creative Commons Attribution - Pas d&#39;Utilisation Commerciale - Pas de Modification 4.0 International</a>.
                        </div>                                                      
                    </div>
                </footer>            
            {% endblock %}             
        </div>
        <!-- /Main -->                
            
    {% block javascripts %}
        {% javascripts filter='?uglifyjs2' 
            'js/jquery.js'
            'js/bootstrap.js'%}
            <script src="{{ asset_url }}" type="text/javascript"></script>  
        {% endjavascripts %}
    {% endblock %}    
    
    </body>
</html>
