{# src/KG/BeekeepingManagementBundle/Resources/views/RecoltesRucher/viewAll.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Récoltes du rucher{% endblock %}

{% block ruchers %}{{ rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Récoltes du rucher {{ rucher.nom }}</h4>
        </div>
    </div>    
{% endblock %}

{% block panel_body %}       
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Date</th>
                        <th>Hausses</th>
                    </thead>
                    <tbody>
                        {% for recolte in recoltes %}
                            {% set nbhausses = 0 %}
                            {% for recolteruche in recolte.recoltesruche %}
                                {% set nbhausses = nbhausses + recolteruche.hausses|length %}
                            {% endfor %}  
                            <tr>
                                <td>{{ recolte.date|date('d/m/Y') }}</td>
                                <td>{{ nbhausses }}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include "KGBeekeepingManagementBundle::pagination.html.twig" %}
                </div>
            </div>                            
        </div>
    </div>                                    
{% endblock %}
