{# src/KG/BeekeepingManagementBundle/Resources/views/Ruche/transhumer.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@KGBeekeepingManagementBundle/Resources/public/js/transhumance/add.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>  
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endjavascripts %}    
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}{{ parent() }} - Transhumer une ruche{% endblock %}

{% block ruchers %}{{ colonie.ruche.emplacement.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Transhumance de la ruche {{ colonie.ruche.nom }}</h4>
        </div>
    </div>
{% endblock %}
    
{% block panel_body %}
              
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'md' }) }}
        {{ form_row(form.date, {'label': 'Date :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.rucherto, {'label': 'Rucher :', 'label_col': 4, 'widget_col': 5})  }}
        {{ form_row(form.colonie.ruche.emplacement, {'label': 'Emplacement :', 'label_col': 4, 'widget_col': 5})  }}
    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">
                {{ icon('floppy-disk') }} Sauvegarder
            </button>
        </div>        
    </div>

    {{ form_end(form) }}         

{% endblock %}