{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        'assets/js/plugins/forms/styling/uniform.min.js'
        'assets/js/plugins/forms/selects/select2.min.js'
        'assets/js/plugins/tables/datatables/datatables.min.js'
        '@KGBeekeepingManagementBundle/Resources/public/js/transhumance/viewAll.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block cover %}
    {% include 'KGBeekeepingManagementBundle:Ruche:cover.html.twig' with {'ruche' : colonie.ruche} only %} 
{% endblock %}  

{% block toolbar %}
    {% include 'KGBeekeepingManagementBundle:Ruche:toolbarBack.html.twig' with {'ruche' : colonie.ruche} only %}                  
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Media library -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6 class="panel-title text-semibold">Historiques des transhumances</h6>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped media-library table-lg">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Rucher de départ</th>
                                <th>Emplacement de départ</th>
                                <th>Rucher de destination</th>
                                <th>Emplacement de destination</th>         
                            </tr>
                        </thead>
                        <tbody>
                            {% for transhumance in colonie.transhumances %}
                                <tr>
                                    <td>{{ transhumance.date|date('Y/m/d') }}</td>
                                    <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': transhumance.rucherfrom.id }) }}">{{ transhumance.rucherfrom.nom }}</a></td>
                                    <td>
                                        {% if transhumance.rucherfrom.numerotation and transhumance.emplacementfrom %}
                                            <a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': transhumance.emplacementfrom.id }) }}">{{ transhumance.emplacementfrom.numero }}</a>
                                        {% endif %}
                                    </td>
                                    <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': transhumance.rucherto.id }) }}">{{ transhumance.rucherto.nom }}</a></td>
                                    <td>
                                        {% if transhumance.rucherto.numerotation and transhumance.emplacementto%}
                                            {{ transhumance.emplacementto.numero }}                                        
                                        {% endif %}
                                    </td>    
                                </tr>

                            {% endfor %}                                                
                        </tbody>
                    </table>
                </div>        
            </div>
            <!-- /media library -->   
        </div>
    </div>                                         
{% endblock %}

