{# src/KG/BeekeepingManagementBundle/Resources/views/RecoltesRucher/viewAll.html.twig #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Transhumances de la ruche{% endblock %}

{% block ruchers %}{{ colonie.rucher.nom }}{% endblock %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Transhumances de la ruche {{ colonie.ruche.nom }}</h4>
        </div>
    </div>    
{% endblock %}

{% block panel_body %}       
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Date</th>
                        <th>Rucher de départ</th>
                        <th>Emplacement de départ</th>
                        <th>Rucher de destination</th>
                        <th>Emplacement de destination</th>
                    </thead>
                    <tbody>
                        {% for transhumance in pagination %}
                            <tr>
                                <td>{{ transhumance.date|date('d/m/Y') }}</td>
                                <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': transhumance.emplacementfrom.rucher.id }) }}">{{ transhumance.emplacementfrom.rucher.nom }}</a></td>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': transhumance.emplacementfrom.id }) }}">{{ transhumance.emplacementfrom.nom }}</a></td>
                                <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': transhumance.emplacementto.rucher.id }) }}">{{ transhumance.emplacementto.rucher.nom }}</a></td>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': transhumance.emplacementto.id }) }}">{{ transhumance.emplacementto.nom }}</a></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div> 
            </div>                            
        </div>
    </div>                                    
{% endblock %}
