{#  
  Copyright (C) 2015 Kévin Grenèche < kevin.greneche at openhivemanager.org >
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "KGBeekeepingManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Transhumances de la ruche{% endblock %}

{% block menu %}
    {% include 'KGBeekeepingManagementBundle::menuRuche.html.twig' %}
{% endblock menu %}

{% block panel_title %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Historiques des transhumances</h4>
        </div>
    </div>
{% endblock %}

{% block panel_body %}       
    <div class="row">
        <div class=" col-md-12"> 
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Date</th>
                        <th>Rucher de départ</th>
                        <th>Emplacement de départ</th>
                        <th>Rucher de destination</th>
                        <th>Emplacement de destination</th>
                    </thead>
                    <tbody>
                        {% for transhumance in pagination %}
                            <tr>
                                <td>{{ transhumance.date|date('d/m/Y') }}</td>
                                <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': transhumance.emplacementfrom.rucher.id }) }}">{{ transhumance.emplacementfrom.rucher.nom }}</a></td>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': transhumance.emplacementfrom.id }) }}">{{ transhumance.emplacementfrom.nom }}</a></td>
                                <td><a title="Afficher le rucher" href="{{ path('kg_beekeeping_management_view_rucher', { 'rucher_id': transhumance.emplacementto.rucher.id }) }}">{{ transhumance.emplacementto.rucher.nom }}</a></td>
                                <td><a title="Afficher l'emplacement" href="{{ path('kg_beekeeping_management_view_emplacement', { 'emplacement_id': transhumance.emplacementto.id }) }}">{{ transhumance.emplacementto.nom }}</a></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 navigation" align="right">
                    {{ knp_pagination_render(pagination) }}
                </div> 
            </div>                            
        </div>
    </div>                                    
{% endblock %}
